html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Regular.eot");
  src: url("../fonts/Circe-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe-Regular.woff") format('woff'), url("../fonts/Circe-Regular.ttf") format('truetype'), url("../fonts/Circe-Regular.svg#Circe") format('svg');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Bold.eot");
  src: url("../fonts/Circe-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe-Bold.woff") format('woff'), url("../fonts/Circe-Bold.ttf") format('truetype'), url("../fonts/Circe-Bold.svg#Circe") format('svg');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Circe-ExtraLight';
  src: url("../fonts/Circe-ExtraLight.eot");
  src: url("../fonts/Circe-ExtraLight.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe-ExtraLight.woff") format('woff'), url("../fonts/Circe-ExtraLight.ttf") format('truetype'), url("../fonts/Circe-ExtraLight.svg#Circe") format('svg');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamProRegular.woff") format('woff'), url("../fonts/GothamProRegular.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamProBold.eot");
  src: url("../fonts/GothamProBold.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamProBold.woff") format('woff'), url("../fonts/GothamProBold.ttf") format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamProLight.eot");
  src: url("../fonts/GothamProLight.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamProLight.woff") format('woff'), url("../fonts/GothamProLight.ttf") format('truetype');
  font-style: normal;
  font-weight: 200;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-size: 0.833333333333333vw;
  background-color: #fff;
  min-height: 100%;
  font-family: "Circe";
}
@media (max-width: 750px) {
  body {
    font-size: 2.5vw;
  }
}
a {
  text-decoration: none;
}
b {
  font-weight: 700;
}
a:focus,
button:focus {
  outline: none;
}
.col-1 {
  float: left;
  width: 8.333333333333332%;
}
@media (max-width: 750px) {
  .col-1 {
    width: 100%;
    float: none;
  }
}
.col-2 {
  float: left;
  width: 16.666666666666664%;
}
@media (max-width: 750px) {
  .col-2 {
    width: 100%;
    float: none;
  }
}
.col-3 {
  float: left;
  width: 25%;
}
@media (max-width: 750px) {
  .col-3 {
    width: 100%;
    float: none;
  }
}
.col-4 {
  float: left;
  width: 33.33333333333333%;
}
@media (max-width: 750px) {
  .col-4 {
    width: 100%;
    float: none;
  }
}
.col-5 {
  float: left;
  width: 41.66666666666667%;
}
@media (max-width: 750px) {
  .col-5 {
    width: 100%;
    float: none;
  }
}
.col-6 {
  float: left;
  width: 50%;
}
@media (max-width: 750px) {
  .col-6 {
    width: 100%;
    float: none;
  }
}
.col-7 {
  float: left;
  width: 58.333333333333336%;
}
@media (max-width: 750px) {
  .col-7 {
    width: 100%;
    float: none;
  }
}
.col-8 {
  float: left;
  width: 66.66666666666666%;
}
@media (max-width: 750px) {
  .col-8 {
    width: 100%;
    float: none;
  }
}
.col-9 {
  float: left;
  width: 75%;
}
@media (max-width: 750px) {
  .col-9 {
    width: 100%;
    float: none;
  }
}
.col-10 {
  float: left;
  width: 83.33333333333334%;
}
@media (max-width: 750px) {
  .col-10 {
    width: 100%;
    float: none;
  }
}
.col-11 {
  float: left;
  width: 91.66666666666666%;
}
@media (max-width: 750px) {
  .col-11 {
    width: 100%;
    float: none;
  }
}
.col-12 {
  float: left;
  width: 100%;
}
@media (max-width: 750px) {
  .col-12 {
    width: 100%;
    float: none;
  }
}
.title {
  color: #b82f80;
  font-size: 2.5vw;
  font-weight: 300;
}
@media (max-width: 750px) {
  .title {
    font-size: 7.5vw;
  }
}
.top {
  padding-top: 2.1875vw;
  padding-bottom: 1.041666666666667vw;
  text-align: center;
}
@media (max-width: 750px) {
  .top {
    padding-top: 7.8125vw;
    padding-bottom: 0vw;
  }
}
.top__logo img {
  width: 10.677083333333334vw;
  height: 5.208333333333334vw;
  max-width: 100%;
}
@media (max-width: 750px) {
  .top__logo img {
    width: 42.8125vw;
    height: 18.75vw;
    margin-left: 4.84375vw;
  }
}
.content {
  padding: 0 5.729166666666667vw;
}
@media (max-width: 750px) {
  .content {
    padding: 0 1.09375vw 0 3.125vw;
  }
}
.btn {
  color: #fff;
  font-family: "Gotham Pro";
  font-size: 0.833333333333333vw;
  font-weight: 700;
  background-color: #f94372;
  box-shadow: 0 8px 16px rgba(0,0,0,0.13);
  cursor: pointer;
  border: none;
  text-decoration: none;
  border-radius: 1.5625vw;
}
@media (max-width: 750px) {
  .btn {
    font-size: 3.75vw;
    border-radius: 7.03125vw;
  }
}
.btn--girls {
  padding: 1.197916666666667vw 3.854166666666667vw;
  display: inline-block;
}
@media (max-width: 750px) {
  .btn--girls {
    padding: 5vw 16.40625vw;
  }
}
.btn--level {
  padding: 1.5625vw 3.125vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
}
@media (max-width: 750px) {
  .btn--level {
    font-size: 4.21875vw;
    padding: 4.375vw 7.8125vw;
  }
}
.btn--levels {
  padding: 1.041666666666667vw 3.90625vw;
  display: inline-block;
  margin-top: 1.875vw;
}
@media (max-width: 750px) {
  .btn--levels {
    padding: 5vw 8.59375vw;
    margin-top: 7.1875vw;
  }
}
.btn--prize {
  background-color: #fff;
  border-radius: 5px;
  border: 3px solid #4ca9ff;
  color: #4ca9ff;
  font-size: 1.354166666666667vw;
  font-weight: 700;
  padding: 1.770833333333333vw 2.8125vw;
  display: inline-block;
  text-align: center;
  line-height: 1.3;
}
@media (max-width: 750px) {
  .btn--prize {
    margin-top: 7.34375vw;
    font-size: 4.375vw;
    padding: 4.84375vw 6.40625vw;
  }
}
.btn--slim {
  padding: 1.197916666666667vw 3.802083333333333vw;
  position: absolute;
  left: 50%;
  bottom: 9%;
  transform: translate(-50%, 0);
}
@media (max-width: 750px) {
  .btn--slim {
    padding: 5.15625vw 15.625vw;
    bottom: 11%;
  }
}
.btn--join {
  display: block;
  margin: 0 auto;
  padding: 1.302083333333333vw 7.291666666666667vw;
  margin-top: 1.5625vw;
}
@media (max-width: 750px) {
  .btn--join {
    margin-top: 2.34375vw;
    padding: 5.46875vw 15.625vw;
    width: 100%;
  }
}
.btn--join2 {
  display: block;
  margin: 0 auto;
  padding: 1.302083333333333vw 8.854166666666668vw;
  margin-top: 1.5625vw;
}
@media (max-width: 750px) {
  .btn--join2 {
    margin-top: 2.34375vw;
    padding: 5.46875vw 20.3125vw;
    width: 100%;
  }
}
.btn--activegame {
  color: #f94372;
  font-size: 0.9375vw;
  padding: 1.458333333333333vw 3.125vw;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 750px) {
  .btn--activegame {
    font-size: 2.5vw;
    padding: 4.375vw 9.375vw;
  }
}
.btn--game {
  padding: 1.302083333333333vw 3.229166666666667vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 3.125vw;
}
@media (max-width: 750px) {
  .btn--game {
    font-size: 3.75vw;
    padding: 3.90625vw 9.6875vw;
    bottom: 9.375vw;
  }
}
.textbox {
  box-sizing: border-box;
  -webkit-appearance: none;
}
.textbox:focus {
  outline: none;
}
.textbox--join {
  background-color: transparent;
  width: 21.875vw;
  color: #fff;
  padding: 1.041666666666667vw 2.604166666666667vw;
  border-radius: 40px;
  border: 2px solid #fff;
  font-size: 1.041666666666667vw;
}
.textbox--join:nth-child(1) {
  margin-right: 0.78125vw;
}
@media (max-width: 750px) {
  .textbox--join:nth-child(1) {
    margin-bottom: 2.34375vw;
  }
}
@media (max-width: 750px) {
  .textbox--join {
    width: 100%;
    font-size: 3.90625vw;
    padding: 4.375vw 7.34375vw;
  }
}
.textbox::-webkit-input-placeholder {
  color: #fff;
}
.textbox::-moz-placeholder {
  color: #fff;
}
.textbox:-moz-placeholder {
  color: #fff;
}
.textbox:-ms-input-placeholder {
  color: #fff;
}
.label {
  display: block;
  margin-top: 0.78125vw;
  color: #000;
  font-family: "Gotham Pro";
  font-size: 0.833333333333333vw;
  font-weight: 400;
}
@media (max-width: 750px) {
  .label {
    display: none;
  }
}
.girls {
  padding: 7.03125vw 10.416666666666668vw 13.020833333333334vw 10.416666666666668vw;
  background-image: url("../images/girls.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}
@media (max-width: 750px) {
  .girls {
    padding: 12.5vw 2.34375vw 24.53125vw 2.34375vw;
    background-image: url("../images/girls-mobile.png");
    background-size: cover;
  }
}
.girls__logo img {
  width: 8.333333333333334vw;
  height: 2.604166666666667vw;
  display: block;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .girls__logo img {
    width: 30.46875vw;
    height: 9.375vw;
  }
}
.girls__title {
  color: #fff;
  font-family: "Circe-ExtraLight";
  font-size: 4.0625vw;
  font-weight: 400;
  margin-top: 3.90625vw;
  position: relative;
  display: inline-block;
}
@media (max-width: 750px) {
  .girls__title {
    font-size: 11.5625vw;
    margin-top: 42.96875vw;
    line-height: 1.2;
  }
}
.girls__free {
  position: absolute;
  background-color: #8a4bd7;
  color: #fff;
  font-size: 1.041666666666667vw;
  font-weight: 700;
  padding: 0.729166666666667vw 0.885416666666667vw;
  top: -3.177083333333333vw;
  right: 0;
}
@media (max-width: 750px) {
  .girls__free {
    font-size: 2.96875vw;
    padding: 1.71875vw 2.34375vw;
    transform: translate(-50%, 0);
    left: 50%;
    right: inherit;
    top: -10.3125vw;
  }
}
.girls__text {
  color: #fff;
  font-family: Circe;
  font-size: 1.666666666666667vw;
  font-weight: 700;
  margin-top: 0.625vw;
  margin-bottom: 2.604166666666667vw;
  line-height: 1.3;
}
@media (max-width: 750px) {
  .girls__text {
    font-size: 5.3125vw;
    margin-top: 5.15625vw;
    margin-bottom: 11.25vw;
  }
}
.lady {
  padding-top: 4.322916666666667vw;
}
@media (max-width: 750px) {
  .lady {
    padding-top: 8.125vw;
  }
}
.lady:after {
  content: ' ';
  width: 100%;
  height: 5px;
  background-color: #ff8094;
  opacity: 0.14;
  display: block;
  margin-top: 4.0625vw;
}
@media (max-width: 750px) {
  .lady:after {
    margin-top: 7.8125vw;
  }
}
.lady__img {
  width: 11.979166666666668vw;
  float: left;
}
@media (max-width: 750px) {
  .lady__img {
    width: 30.625vw;
  }
}
.lady__img img {
  width: 100%;
}
.lady-desc {
  padding-left: 3.020833333333333vw;
  padding-top: 1.5625vw;
  display: inline-block;
  max-width: 33.333333333333336vw;
}
@media (max-width: 750px) {
  .lady-desc {
    max-width: 50.3125vw;
    padding-left: 6.875vw;
    padding-top: 0;
  }
}
.lady__login {
  color: #4ca9ff;
  font-size: 2.03125vw;
  font-weight: 400;
  display: block;
}
@media (max-width: 750px) {
  .lady__login {
    font-size: 6.09375vw;
    margin-top: 0.9375vw;
  }
}
.lady__name {
  display: block;
  color: #555f73;
  font-size: 2.5vw;
  font-weight: 300;
}
@media (max-width: 750px) {
  .lady__name {
    font-size: 7.5vw;
  }
}
.lady__text {
  color: #555f73;
  margin-top: 1.302083333333333vw;
  font-size: 1.354166666666667vw;
  font-weight: 700;
  display: block;
  line-height: 1.2;
}
@media (max-width: 750px) {
  .lady__text {
    font-size: 4.0625vw;
    margin-top: 3.75vw;
    line-height: 1.4;
  }
}
.levels {
  padding-top: 2.916666666666667vw;
  text-align: center;
}
@media (max-width: 750px) {
  .levels {
    padding-top: 4.21875vw;
  }
}
.levels__text {
  color: #555f73;
  font-family: Circe;
  font-size: 1.302083333333333vw;
  font-weight: 400;
  line-height: 1.46;
}
@media (max-width: 750px) {
  .levels__text {
    font-size: 3.75vw;
  }
}
.levels-items {
  margin-top: 3.645833333333333vw;
}
@media (max-width: 750px) {
  .levels-items {
    margin-top: 14.375vw;
  }
}
.levels:after {
  content: ' ';
  width: 100%;
  height: 5px;
  background-color: #ff8094;
  opacity: 0.14;
  display: block;
  margin-top: 2.34375vw;
}
@media (max-width: 750px) {
  .levels:after {
    margin-top: 8.59375vw;
  }
}
.level {
  display: inline-block;
  margin: 0 3.645833333333333vw;
  vertical-align: top;
}
@media (max-width: 750px) {
  .level {
    margin: 0;
  }
}
@media (max-width: 750px) {
  .level:nth-child(2n+1) {
    margin-right: 8.59375vw;
  }
}
.level__round {
  width: 13.020833333333334vw;
  position: relative;
}
@media (max-width: 750px) {
  .level__round {
    width: 39.0625vw;
  }
}
.level__round img {
  width: 100%;
}
.level__round--locked:before {
  content: ' ';
  width: 2.864583333333333vw;
  height: 3.802083333333333vw;
  background-image: url("../images/locked.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 750px) {
  .level__round--locked:before {
    width: 8.59375vw;
    height: 11.40625vw;
  }
}
.level__name {
  color: #555f73;
  font-size: 1.40625vw;
  font-weight: 700;
  margin-top: 2.083333333333333vw;
}
@media (max-width: 750px) {
  .level__name {
    font-size: 4.21875vw;
    margin-top: 5.46875vw;
    margin-bottom: 3.90625vw;
  }
}
.tasks {
  margin-top: 2.083333333333333vw;
}
@media (max-width: 750px) {
  .tasks {
    margin-top: 5.9375vw;
  }
}
.tasks__title {
  color: #313131;
  font-family: "Gotham Pro";
  font-size: 1.666666666666667vw;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  padding: 0 23.4375vw;
}
@media (max-width: 750px) {
  .tasks__title {
    font-size: 5vw;
    padding: 0;
  }
}
.tasks:after {
  content: ' ';
  width: 100%;
  height: 5px;
  background-color: #ff8094;
  opacity: 0.14;
  display: block;
  margin-top: 0.520833333333333vw;
}
@media (max-width: 750px) {
  .tasks:after {
    margin-top: 9.53125vw;
  }
}
.prizes {
  padding-top: 10.416666666666668vw;
  padding-left: 7.291666666666667vw;
}
@media (max-width: 750px) {
  .prizes {
    padding-top: 32.65625vw;
    padding-left: 0;
  }
}
@media (max-width: 750px) {
  .prizes-right {
    text-align: center;
  }
}
.prize {
  border-radius: 10px;
  position: relative;
  float: left;
  box-shadow: 0 2.395833333333333vw 8.489583333333334vw 9px rgba(0,0,0,0.17);
}
.prize img {
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}
.prize--pants {
  width: 11.458333333333334vw;
  height: 10.677083333333334vw;
  background-color: #4ca9ff;
  z-index: 5;
  top: 2.083333333333333vw;
}
@media (max-width: 750px) {
  .prize--pants {
    width: 25vw;
    height: 23.125vw;
  }
}
.prize--pants img {
  width: 8.333333333333334vw;
  height: 14.583333333333334vw;
  bottom: 0;
}
@media (max-width: 750px) {
  .prize--pants img {
    width: 18.28125vw;
    height: 32.1875vw;
  }
}
.prize--shirt {
  width: 15.625vw;
  height: 13.28125vw;
  background-color: #f64271;
  z-index: 1;
  top: -5.46875vw;
  left: -1.5625vw;
}
@media (max-width: 750px) {
  .prize--shirt {
    width: 34.53125vw;
    height: 29.0625vw;
    left: -4.0625vw;
    top: -15.3125vw;
  }
}
.prize--shirt img {
  width: 10.416666666666668vw;
  height: 18.229166666666668vw;
  bottom: -2.604166666666667vw;
}
@media (max-width: 750px) {
  .prize--shirt img {
    width: 22.8125vw;
    height: 40.3125vw;
    bottom: -5.9375vw;
  }
}
.prize--iphone {
  width: 18.75vw;
  height: 17.96875vw;
  background-color: #8a4bd7;
  z-index: 5;
  left: -3.645833333333333vw;
}
@media (max-width: 750px) {
  .prize--iphone {
    width: 32.8125vw;
    height: 39.375vw;
    top: -3.125vw;
    left: -8.125vw;
  }
}
.prize--iphone img {
  width: 11.302083333333334vw;
  height: 24.635416666666668vw;
  bottom: 2.083333333333333vw;
}
@media (max-width: 750px) {
  .prize--iphone img {
    width: 25vw;
    height: 54.53125vw;
    bottom: 4.6875vw;
  }
}
.slim {
  text-align: center;
  padding-bottom: 2.34375vw;
}
@media (max-width: 750px) {
  .slim {
    padding-bottom: 7.65625vw;
  }
}
.slim__title {
  margin-top: 2.34375vw;
  color: #f94372;
  font-family: "Gotham Pro";
  font-size: 1.875vw;
  font-weight: 300;
}
@media (max-width: 750px) {
  .slim__title {
    margin-top: 5vw;
    font-size: 5.625vw;
    line-height: 1.3;
  }
}
.slim-girl {
  position: relative;
  display: inline-block;
  margin-top: 1.09375vw;
}
@media (max-width: 750px) {
  .slim-girl {
    margin-top: 7.65625vw;
  }
}
.slim-girl img {
  width: 10.833333333333334vw;
  height: 26.979166666666668vw;
}
@media (max-width: 750px) {
  .slim-girl img {
    width: 32.5vw;
    height: 80.9375vw;
  }
}
.slim-girl:before {
  content: ' ';
  width: 2.96875vw;
  height: 3.177083333333333vw;
  background-image: url("../images/arrow-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -5.208333333333334vw;
  top: 32%;
}
@media (max-width: 750px) {
  .slim-girl:before {
    width: 8.90625vw;
    height: 9.53125vw;
    left: -13.59375vw;
  }
}
.slim-girl:after {
  content: ' ';
  width: 2.96875vw;
  height: 3.177083333333333vw;
  background-image: url("../images/arrow-left.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -5.208333333333334vw;
  top: 32%;
}
@media (max-width: 750px) {
  .slim-girl:after {
    width: 8.90625vw;
    height: 9.53125vw;
    right: -13.59375vw;
  }
}
.join {
  padding-top: 2.447916666666667vw;
  padding-bottom: 2.135416666666667vw;
  background-color: #8a4bd7;
  text-align: center;
}
@media (max-width: 750px) {
  .join {
    padding: 7.65625vw 4.0625vw 7.8125vw;
  }
}
.join--game {
  padding-top: 3.90625vw;
  padding-bottom: 2.34375vw;
}
@media (max-width: 750px) {
  .join--game {
    padding-top: 7.5vw;
  }
}
.join__text {
  color: #fff;
  font-size: 1.666666666666667vw;
  font-weight: 700;
}
@media (max-width: 750px) {
  .join__text {
    font-size: 5vw;
  }
}
.join__game {
  font-size: 2.760416666666667vw;
  color: #fff;
  font-weight: 300;
  margin-top: 0.833333333333333vw;
}
@media (max-width: 750px) {
  .join__game {
    font-size: 8.28125vw;
    margin-top: 2.1875vw;
  }
}
.join-form {
  margin-top: 1.5625vw;
}
@media (max-width: 750px) {
  .join-form {
    margin-top: 9.375vw;
  }
}
.game:before {
  content: ' ';
  position: absolute;
  background-image: url("../images/girl-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 23.958333333333336vw;
  height: 46.04166666666667vw;
  top: 2.083333333333333vw;
  left: 3.645833333333333vw;
  z-index: 0;
}
@media (max-width: 750px) {
  .game:before {
    background-image: url("../images/girl-bg-mob.png");
    width: 53.125vw;
    height: 138.28125vw;
    left: 0;
    top: 48.4375vw;
    z-index: 0;
  }
}
.game__title {
  font-size: 3.59375vw;
  font-family: 'Circe-ExtraLight';
}
@media (max-width: 750px) {
  .game__title {
    font-size: 6.40625vw;
    margin-top: -0.78125vw;
  }
}
.game__text {
  color: #555f73;
  font-size: 1.666666666666667vw;
  font-weight: 700;
  margin-top: 1.354166666666667vw;
  padding-right: 29.6875vw;
}
@media (max-width: 750px) {
  .game__text {
    font-size: 4.53125vw;
    margin-top: 1.875vw;
    line-height: 1.4;
    padding-right: 0;
  }
}
.game-top {
  padding-left: 26.5625vw;
  position: relative;
  z-index: 2;
}
@media (max-width: 750px) {
  .game-top {
    padding-left: 1.5625vw;
    text-align: center;
  }
}
.game-items {
  padding: 3.020833333333333vw 0;
  text-align: center;
}
@media (max-width: 750px) {
  .game-items {
    padding-top: 10.15625vw;
    padding-left: 7.03125vw;
    padding-bottom: 0.78125vw;
  }
}
.game-item {
  text-align: center;
  width: 18.489583333333336vw;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.game-item:nth-child(2n) {
  margin: 0 5.208333333333334vw;
}
@media (max-width: 750px) {
  .game-item:nth-child(2n) {
    margin: 0 auto;
    margin-bottom: 7.8125vw;
  }
}
@media (max-width: 750px) {
  .game-item {
    width: 55.46875vw;
    display: block;
    margin: 0 auto;
    margin-bottom: 7.8125vw;
  }
}
.game-item__round {
  position: relative;
}
.game-item__round img {
  width: 100%;
}
.game-item__round--active:before {
  content: ' ';
  position: absolute;
  width: 13.958333333333334vw;
  height: 13.958333333333334vw;
  background-color: #f94372;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 750px) {
  .game-item__round--active:before {
    width: 41.875vw;
    height: 41.875vw;
  }
}
.game-item__round--locked:before {
  content: ' ';
  width: 2.864583333333333vw;
  height: 3.802083333333333vw;
  background-image: url("../images/locked.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}
@media (max-width: 750px) {
  .game-item__round--locked:before {
    width: 8.59375vw;
    height: 11.40625vw;
  }
}
.game-item__name {
  color: #555f73;
  font-size: 1.666666666666667vw;
  font-weight: 700;
  margin-top: 1.197916666666667vw;
  line-height: 1.2;
}
@media (max-width: 750px) {
  .game-item__name {
    font-size: 5vw;
    margin-top: 2.34375vw;
  }
}
@media (max-width: 750px) and (max-width: 750px) {
  .game-item {
    margin: 0 auto;
    margin-bottom: 7.8125vw;
  }
}
