html {
    overflow: scroll;
}

.profile_foto, .profile_preview, .profile_radius {
    width: 150px;
}

.imgFooter {
    width: 150px;
}

.icon {
    max-width: 150px;
}

@font-face {
    font-family: 'GLYPHICONS Halflings Regular';
    src: url('GLYPHICONS Halflings Regular.eot');
    src: url('GLYPHICONS Halflings Regular.woff2') format('woff2'),
    url('GLYPHICONS Halflings Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GLYPHICONSHalflings-Regular';
    src: url('GLYPHICONSHalflings-Regular.woff') format('woff'),
    url('GLYPHICONSHalflings-Regular.ttf') format('truetype'),
    url('GLYPHICONSHalflings-Regular.svg#GLYPHICONSHalflings-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.glyphicon-eye-open:before {
    content: "Просмотр";
    font-family: Arial;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.glyphicon-pencil:before {
    content: "Редактировать";
    font-family: Arial;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.glyphicon-trash:before {
    content: "Удалить";
    font-family: Arial;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.logout {
    margin-top: 8px;
}

.if-task {
    background: #D7CCC8;
    padding: 15px 20px 5px 20px;
    margin: 20px 0;
}

.theme_article_block {
    background: #80D8FF;
    padding: 15px 20px 5px 20px;
    margin: 20px 0;
}

.level_article_block {
    background: #DCEDC8;
    padding: 15px 20px 5px 20px;
    margin: 20px 0;
}

.theme_article_block, .level_article_block {
    display: none;
}

.article-form input, .article-form label {
    cursor: pointer;
}

.photo_after, .photo_before {
    width: 150px;
}

.video {
    text-align: center;
}

@media (max-width: 750px) {
    .video {
        padding-bottom: 3.90625vw;
    }
}

@media (max-width: 750px) {
    .video__title {
        display: block;
    }
}

.video__text {
    font-size: 1.354166666666667vw;
    margin-top: 1.666666666666667vw;
    margin-bottom: 2.864583333333333vw;
}

@media (max-width: 750px) {
    .video__text {
        font-size: 4.0625vw;
        margin-top: 5.625vw;
        margin-bottom: 7.8125vw;
    }
}

.video__frame {
    width: 41.40625vw;
    margin: 0 auto;
    position: relative;
    padding: 0.572916666666667vw 0.677083333333333vw;
    box-shadow: 0 2.395833333333333vw 8.489583333333334vw 0.46875vw rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    box-sizing: border-box;
}

@media (max-width: 750px) {
    .video__frame {
        width: 87.5vw;
        padding: 1.25vw 1.5625vw;
        box-shadow: 0 7.1875vw 25.46875vw 1.40625vw rgba(0, 0, 0, 0.17);
    }
}

.video__frame-link img {
    position: relative;
    width: 100%;
    border-radius: 10px;
}

.video__frame-link:after {
    content: ' ';
    background-image: url("../images/play_btn.png");
    background-size: cover;
    width: 4.427083333333334vw;
    height: 4.427083333333334vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

@media (max-width: 750px) {
    .video__frame-link:after {
        width: 9.375vw;
        height: 9.375vw;
    }
}

.video__buttons {
    margin-top: 2.760416666666667vw;
}

@media (max-width: 750px) {
    .video__buttons {
        margin-top: 7.03125vw;
    }
}

.video__buttons-text {
    color: #555f73;
    font-family: Circe;
    font-size: 1.354166666666667vw;
    font-weight: 400;
    margin-right: 2.604166666666667vw;
}

@media (max-width: 750px) {
    .video__buttons-text {
        font-size: 4.0625vw;
    }
}

.video__buttons-btn {
    display: inline-block;
}

@media (max-width: 750px) {
    .video__buttons-btn {
        display: block;
        margin-top: 7.8125vw;
        margin-left: 5.46875vw;
    }
}

