html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Regular.eot");
  src: url("../fonts/Circe-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe-Regular.woff") format('woff'), url("../fonts/Circe-Regular.ttf") format('truetype'), url("../fonts/Circe-Regular.svg#Circe") format('svg');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Bold.eot");
  src: url("../fonts/Circe-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe-Bold.woff") format('woff'), url("../fonts/Circe-Bold.ttf") format('truetype'), url("../fonts/Circe-Bold.svg#Circe") format('svg');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-ExtraLight.eot");
  src: url("../fonts/Circe-ExtraLight.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe-ExtraLight.woff") format('woff'), url("../fonts/Circe-ExtraLight.ttf") format('truetype'), url("../fonts/Circe-ExtraLight.svg#Circe") format('svg');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamProRegular.woff") format('woff'), url("../fonts/GothamProRegular.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamProBold.eot");
  src: url("../fonts/GothamProBold.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamProBold.woff") format('woff'), url("../fonts/GothamProBold.ttf") format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamProLight.eot");
  src: url("../fonts/GothamProLight.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamProLight.woff") format('woff'), url("../fonts/GothamProLight.ttf") format('truetype');
  font-style: normal;
  font-weight: 200;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-size: 0.833333333333333vw;
  background-color: #f5f2fa;
  min-height: 100%;
  padding-bottom: 2.604166666666667vw;
}
@media (max-width: 750px) {
  body {
    font-size: 2.5vw;
  }
}
b {
  font-weight: 700;
}
.link {
  color: #6378ed;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 400;
  text-decoration: none;
}
@media (max-width: 750px) {
  .link {
    font-size: 4.0625vw;
  }
}
.subtitle {
  color: #313131;
  font-family: "Gotham Pro";
  font-size: 1.354166666666667vw;
  font-weight: 700;
}
@media (max-width: 750px) {
  .subtitle {
    font-size: 4.0625vw;
  }
}
.top {
  width: 100%;
  height: 5.729166666666667vw;
  box-shadow: 0 0 4px rgba(0,0,0,0.27);
  background-color: #fff;
  padding: 0.78125vw 1.5625vw 1.302083333333333vw 2.604166666666667vw;
  box-sizing: border-box;
}
@media (max-width: 750px) {
  .top {
    height: 21.09375vw;
    padding: 5.46875vw 3.4375vw;
  }
}
.top__logo {
  margin-top: 0.46875vw;
  margin-right: 2.864583333333333vw;
}
.top__logo img {
  width: 8.333333333333334vw;
  height: 2.604166666666667vw;
  display: block;
  max-width: 100%;
}
@media (max-width: 750px) {
  .top__logo img {
    width: 33.59375vw;
    height: 10.15625vw;
    margin-left: -3.125vw;
  }
}
.top__logo--base2 {
  margin-right: 5.729166666666667vw;
}
.top-user {
  margin-right: 4.166666666666667vw;
  cursor: pointer;
}
@media (max-width: 750px) {
  .top-user {
    position: relative;
    left: 31.25vw;
  }
}
.top-user--base2 {
  margin: 0.520833333333333vw 2.083333333333333vw 0 0;
}
.top-user__avatar {
  display: inline-block;
  position: relative;
  z-index: 201;
}
.top-user__avatar img {
  width: 2.708333333333333vw;
  height: 2.708333333333333vw;
  display: block;
}
@media (max-width: 750px) {
  .top-user__avatar img {
    width: 10.46875vw;
    height: 10.46875vw;
  }
}
.top-user__progress {
  position: absolute;
  width: 3.489583333333333vw;
  height: 3.489583333333333vw;
  left: -0.364583333333333vw;
  top: -0.364583333333333vw;
}
@media (max-width: 750px) {
  .top-user__progress {
    width: 12.8125vw;
    height: 12.8125vw;
    left: -1.09375vw;
    top: -1.09375vw;
  }
}
.top-user__svg--2 {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
}
.top-user__svg--2 path {
  fill: none;
  stroke-width: 12;
  stroke-dasharray: 629;
  stroke: #f5f5f5;
  opacity: 1;
}
.top-user__desc {
  display: inline-block;
  position: relative;
  top: -0.364583333333333vw;
  line-height: 1.3;
  margin-left: 1.197916666666667vw;
  z-index: 201;
}
@media (max-width: 750px) {
  .top-user__desc {
    display: none;
  }
}
.top-user__point b {
  color: #7e79e6;
}
.top-user__name {
  display: inline-block;
}
.top-user__menu {
  display: none;
}
.top-user--withmenu:hover .top-user__menu {
  display: block;
  position: absolute;
  top: 0.3125vw;
  left: 13.020833333333334vw;
  z-index: 200;
  box-shadow: 0 28px 76px rgba(0,0,0,0.18);
  padding: 4.947916666666667vw 4.6875vw 2.083333333333333vw 1.041666666666667vw;
  border-radius: 30px;
  background-color: #fff;
}
@media (max-width: 750px) {
  .top-user--withmenu:hover .top-user__menu {
    display: none;
  }
}
.top-user__link {
  color: #7e79e6;
  font-family: "Gotham Pro";
  font-size: 0.78125vw;
  font-weight: 700;
  text-decoration: none;
  line-height: 2;
}
.top-user__close {
  width: 1.041666666666667vw;
  height: 0.625vw;
  background-image: url("../images/arrow-top.png");
  background-size: cover;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 1.822916666666667vw;
  right: 1.041666666666667vw;
}
.top__item {
  display: inline-block;
}
.top__item--level {
  position: relative;
  top: -0.364583333333333vw;
}
@media (max-width: 750px) {
  .top__item--level {
    top: -3.59375vw;
    left: -13.75vw;
  }
}
.top__item--base2 {
  float: left;
  display: block;
}
.top__text {
  display: block;
  font-family: Circe;
  font-size: 0.885416666666667vw;
  color: #363434;
}
.top__text--level {
  display: inline-block;
  position: relative;
  top: -0.625vw;
}
@media (max-width: 750px) {
  .top__text--level {
    font-size: 2.65625vw;
  }
}
.top__text--base2 {
  font-size: 0.989583333333333vw;
  line-height: 1.2;
  color: #555f73;
}
.top__level {
  width: 5.416666666666667vw;
  height: 5.416666666666667vw;
  display: inline-block;
  background-image: url("../images/level_bg.png");
  background-repeat: no-repeat;
  font-family: Circe;
  font-size: 1.40625vw;
  font-weight: 700;
  line-height: 3.4;
  color: #fff;
  text-align: center;
  background-size: cover;
  position: relative;
  top: -0.416666666666667vw;
}
@media (max-width: 750px) {
  .top__level {
    width: 15.625vw;
    height: 15.625vw;
    font-size: 4.21875vw;
    line-height: 3.3;
  }
}
.top-special {
  display: inline-block;
  margin-right: 2.604166666666667vw;
  margin-top: 0.833333333333333vw;
}
.top__link {
  color: #6378ed;
  font-weight: 700;
  font-family: Circe;
  font-size: 0.885416666666667vw;
  text-decoration: none;
  display: block;
  line-height: 1.2;
}
.top-awards {
  margin-left: 10.416666666666668vw;
}
.top-awards__desc {
  float: left;
  margin-top: 1.197916666666667vw;
}
.top-awards__items {
  display: inline-block;
  margin-top: 0.260416666666667vw;
  margin-left: 1.25vw;
}
.top-awards__item {
  display: inline-block;
  width: 4.010416666666667vw;
  height: 4.010416666666667vw;
}
.top-awards__item img {
  width: 100%;
}
@media (max-width: 750px) {
  .top-awards {
    display: none;
  }
}
.top-level2 {
  margin-top: 1.197916666666667vw;
  margin-left: 3.645833333333333vw;
  margin: 1.197916666666667vw 1.5625vw 0 3.645833333333333vw;
}
@media (max-width: 750px) {
  .top-level2 {
    display: none;
  }
}
@media (max-width: 750px) {
  .top-programs {
    display: none;
  }
}
.show-menu {
  float: right;
  display: block;
  height: 1.5625vw;
  width: 2.083333333333333vw;
  top: 1.041666666666667vw;
  position: absolute;
  right: 2.604166666666667vw;
  top: 2.083333333333333vw;
  z-index: 302;
}
@media (max-width: 750px) {
  .show-menu {
    width: 7.8125vw;
    top: 7.8125vw;
  }
}
.show-menu span,
.show-menu span:after,
.show-menu span:before {
  background-color: #8782e8;
  content: ' ';
  top: 0;
  position: absolute;
  width: 2.083333333333333vw;
  height: 0.260416666666667vw;
  border-radius: 2px;
  transition: 0.3s ease-out;
}
.show-menu span:before {
  top: 0.677083333333333vw;
}
.show-menu span:after {
  top: 1.354166666666667vw;
}
@media (max-width: 750px) {
  .show-menu span,
  .show-menu span:after,
  .show-menu span:before {
    width: 7.8125vw;
    height: 0.78125vw;
  }
  .show-menu span:after {
    top: 4.0625vw;
  }
  .show-menu span:before {
    top: 4.0625vw;
    top: 2.03125vw;
  }
}
.show-menu--open {
  position: fixed;
  border-radius: 50%;
  border: solid #fff;
  width: 2.34375vw;
  height: 2.34375vw;
}
.show-menu--open span,
.show-menu--open span:after,
.show-menu--open span:before {
  background-color: #fff;
  content: ' ';
  top: 0;
  position: absolute;
  width: 2.083333333333333vw;
  height: 0.260416666666667vw;
  border-radius: 2px;
  transition: 0.3s ease-out;
}
@media (max-width: 750px) {
  .show-menu--open span,
  .show-menu--open span:after,
  .show-menu--open span:before {
    width: 4.6875vw;
  }
}
.show-menu--open span {
  width: 0;
}
.show-menu--open span:before {
  transform: rotate(135deg);
  top: 1.041666666666667vw;
  left: 0.15625vw;
}
@media (max-width: 750px) {
  .show-menu--open span:before {
    top: 3.125vw;
    left: 1.09375vw;
  }
}
.show-menu--open span:after {
  transform: rotate(-135deg);
  top: 1.041666666666667vw;
  left: 0.15625vw;
}
@media (max-width: 750px) {
  .show-menu--open span:after {
    top: 3.125vw;
    left: 1.09375vw;
  }
}
@media (max-width: 750px) {
  .show-menu--open {
    width: 7.03125vw;
    height: 7.03125vw;
  }
}
.menu {
  display: none;
}
.menu--open {
  display: block;
  position: fixed;
  background-color: rgba(94,117,255,0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-out;
  z-index: 301;
  text-align: center;
  overflow: auto;
}
.menu__link {
  text-decoration: none;
  color: #fff;
  font-family: "Gotham Pro";
  font-size: 1.5625vw;
  font-weight: 500;
}
@media (max-width: 750px) {
  .menu__link {
    font-size: 4.6875vw;
  }
}
.menu__item {
  padding: 1.041666666666667vw 0;
}
@media (max-width: 750px) {
  .menu__item {
    padding: 3.125vw;
  }
}
.menu__item--logo {
  max-width: 100%;
  padding: 0;
}
.menu__item--spec {
  border: 2px solid #fff;
  padding: 2.34375vw 3.385416666666667vw;
}
@media (max-width: 750px) {
  .menu__item--spec {
    padding: 7.03125vw 10.15625vw;
  }
}
.menu__item--last {
  margin-top: 2.083333333333333vw;
}
@media (max-width: 750px) {
  .menu__item--last {
    margin-top: 6.25vw;
  }
}
.menu__list {
  position: absolute;
  top: 2.083333333333333vw;
}
@media (max-width: 750px) {
  .menu__list {
    top: 7.03125vw;
  }
}
.menu__spec {
  padding: 0;
}
.panel {
  margin-top: 1.041666666666667vw;
  margin-bottom: 1.041666666666667vw;
}
@media (max-width: 750px) {
  .panel {
    display: none;
  }
}
.panel-items {
  text-align: center;
}
.panel__item {
  display: inline-block;
  vertical-align: top;
  margin: 0 1.041666666666667vw;
}
.panel__img {
  padding: 1.458333333333333vw 2.083333333333333vw;
}
.panel__img img {
  max-width: 100%;
  height: 2.604166666666667vw;
}
.panel__img--active {
  background-color: #eee8f6;
}
.panel__text {
  margin-top: 0.260416666666667vw;
  max-width: 6.25vw;
  color: #555f73;
  font-family: "Gotham Pro";
  font-size: 0.78125vw;
  font-weight: 700;
  line-height: 1.4;
}
.panel__text--active {
  color: #6378ed;
}
.content {
  width: 62.239583333333336vw;
  margin: 2.604166666666667vw auto 0;
  background-color: #fff;
  padding: 6.770833333333334vw 7.03125vw 4.166666666666667vw 7.03125vw;
  position: relative;
  z-index: 5;
}
@media (max-width: 750px) {
  .content {
    width: 86.71875vw;
    padding: 5.46875vw 3.125vw 5.46875vw 4.21875vw;
  }
}
.content--base2 {
  margin-top: 0;
  padding-top: 5.729166666666667vw;
}
@media (max-width: 750px) {
  .content--base2 {
    margin-top: 5.46875vw;
  }
}
.left-image {
  width: 24.479166666666668vw;
  height: 25.78125vw;
}
.left-image img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
@media (max-width: 750px) {
  .left-image {
    width: 100%;
    height: auto;
  }
}
.youtube-link {
  display: inline-block;
  position: relative;
  top: -5.46875vw;
}
.youtube-link:focus {
  outline: none;
}
@media (max-width: 750px) {
  .youtube-link {
    top: 7.03125vw;
  }
}
.youtube-link:after {
  content: ' ';
  display: block;
  width: 4.947916666666667vw;
  height: 3.489583333333333vw;
  background-image: url("../images/youtube.png");
  background-size: cover;
  position: absolute;
  top: 50%;
  margin-left: -1.302083333333333vw;
  margin-top: 2.083333333333333vw;
  left: 50%;
  z-index: 6;
}
@media (max-width: 750px) {
  .youtube-link:after {
    width: 14.84375vw;
    height: 10.46875vw;
    margin-left: -3.90625vw;
    margin-top: -6.25vw;
  }
}
.content__right {
  padding-left: 0.520833333333333vw;
}
@media (max-width: 750px) {
  .content__right {
    margin-top: 11.71875vw;
  }
}
@media (max-width: 750px) {
  .content__right--main2 {
    margin-top: 15.15625vw;
  }
}
.title {
  font-family: Circe;
  color: #b82f80;
  font-size: 3.125vw;
  font-weight: 200;
  margin-bottom: 1.822916666666667vw;
}
@media (max-width: 750px) {
  .title {
    font-size: 9.375vw;
  }
}
.title__sub {
  display: block;
}
.title--ico {
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 10%;
  display: inline-block;
}
.title--ico:after {
  content: ' ';
  position: absolute;
  right: 0;
  bottom: -2px;
  background-size: cover;
}
.title__hidden {
  display: none;
}
.title--game:after {
  width: 3.958333333333333vw;
  height: 3.75vw;
  background-image: url("../images/runner.jpg");
}
@media (max-width: 750px) {
  .title--game:after {
    width: 11.875vw;
    height: 11.25vw;
  }
}
.title--game2 {
  background-image: url("");
}
@media (max-width: 750px) {
  .title {
    display: none;
  }
  .title__sub {
    display: inline;
  }
  .title__hidden {
    display: inline-block;
    font-size: 9.375vw;
  }
}
.title--botline {
  display: inline-block;
  margin-bottom: 1.770833333333333vw;
}
@media (max-width: 750px) {
  .title--botline {
    margin-bottom: 4.375vw;
  }
}
.title--botline:after {
  content: ' ';
  width: 100%;
  display: block;
  height: 3px;
  background-color: #b82f80;
  margin-top: 0.677083333333333vw;
  opacity: 0.21;
}
.levels {
  margin: 8.333333333333334vw auto 0;
}
@media (max-width: 750px) {
  .levels {
    margin: 5.46875vw auto 0;
  }
}
.levels--map {
  margin-top: -3.90625vw;
}
@media (max-width: 750px) {
  .levels--map {
    margin: 2.34375vw auto 0;
    padding: 0 7.8125vw;
  }
}
.level {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  position: relative;
  padding-top: 5px;
  vertical-align: top;
}
.level:focus {
  outline: none;
}
@media (max-width: 750px) {
  .level {
    display: block;
    margin-bottom: 7.8125vw;
  }
}
.level__round {
  width: 10.104166666666668vw;
  height: 10.104166666666668vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .level__round {
    width: 42.65625vw;
    height: 43.59375vw;
    margin: 0 auto;
  }
}
.level--active .level__round {
  background-image: url("../images/level_open.png");
}
.level--locked .level__round {
  background-image: url("../images/level_locked.png");
  position: relative;
}
@media (max-width: 750px) {
  .level--locked .level__round {
    margin: 0 auto;
  }
}
.level--locked .level__round:after {
  content: ' ';
  height: 2.96875vw;
  width: 2.239583333333333vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/padlock.png");
  background-size: cover;
}
@media (max-width: 750px) {
  .level--locked .level__round:after {
    width: 9.375vw;
    height: 12.5vw;
  }
}
.level--exam .level__round {
  background-image: url("../images/exam.png");
}
.level--map {
  margin: 0 0.78125vw;
  margin-bottom: 3.125vw;
}
@media (max-width: 750px) {
  .level--map {
    display: inline-block;
    margin: 0 2.34375vw;
    margin-bottom: 3.125vw;
  }
}
@media (max-width: 750px) {
  .level--map .level__round {
    width: 30.46875vw;
    height: 30.46875vw;
  }
}
@media (max-width: 750px) and (max-width: 750px) {
  .level--map .level__round:after {
    height: 8.90625vw;
    width: 6.71875vw;
  }
}
.level__name {
  color: #555f73;
  font-family: Circe;
  font-size: 1.354166666666667vw;
  margin-top: 1.822916666666667vw;
}
@media (max-width: 750px) {
  .level__name {
    font-size: 6.09375vw;
    font-weight: 700;
    margin-top: 8.59375vw;
  }
}
@media (max-width: 750px) {
  .level__name--map {
    font-size: 4.0625vw;
    margin-top: 5.46875vw;
  }
}
.level__desc {
  color: #555f73;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 400;
  margin-top: 0.78125vw;
}
@media (max-width: 750px) {
  .level__desc {
    display: none;
  }
}
.text {
  font-family: Circe;
  font-size: 1.145833333333333vw;
  color: #555f73;
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 750px) {
  .text {
    font-size: 4.0625vw;
  }
}
.text--quote {
  color: #fff;
  padding: 0.833333333333333vw 0vw 1.041666666666667vw 1.40625vw;
  margin-bottom: 2.864583333333333vw;
}
@media (max-width: 750px) {
  .text--quote {
    padding: 2.96875vw 4.0625vw 3.59375vw;
    margin-bottom: 7.03125vw;
    font-size: 3.28125vw;
  }
}
.text--redbackground {
  background-color: #f94372;
}
.text--border {
  padding: 1.822916666666667vw 3.90625vw 2.083333333333333vw 3.125vw;
  border: 4px solid #f94372;
  color: #555f73;
  font-size: 1.145833333333333vw;
  font-weight: 700;
}
@media (max-width: 750px) {
  .text--border {
    font-size: 3.28125vw;
  }
}
@media (max-width: 400px) {
  .text--border {
    border-width: 2px;
  }
}
.text--withlink {
  margin-top: 2.083333333333333vw;
  margin-bottom: 2.604166666666667vw;
}
@media (max-width: 750px) {
  .text--scanner {
    font-size: 5vw;
  }
}
.c-red {
  color: #f94372;
}
.col-1 {
  float: left;
  width: 8.333333333333332%;
}
@media (max-width: 750px) {
  .col-1 {
    width: 100%;
    float: none;
  }
}
.col-2 {
  float: left;
  width: 16.666666666666664%;
}
@media (max-width: 750px) {
  .col-2 {
    width: 100%;
    float: none;
  }
}
.col-3 {
  float: left;
  width: 25%;
}
@media (max-width: 750px) {
  .col-3 {
    width: 100%;
    float: none;
  }
}
.col-4 {
  float: left;
  width: 33.33333333333333%;
}
@media (max-width: 750px) {
  .col-4 {
    width: 100%;
    float: none;
  }
}
.col-5 {
  float: left;
  width: 41.66666666666667%;
}
@media (max-width: 750px) {
  .col-5 {
    width: 100%;
    float: none;
  }
}
.col-6 {
  float: left;
  width: 50%;
}
@media (max-width: 750px) {
  .col-6 {
    width: 100%;
    float: none;
  }
}
.col-7 {
  float: left;
  width: 58.333333333333336%;
}
@media (max-width: 750px) {
  .col-7 {
    width: 100%;
    float: none;
  }
}
.col-8 {
  float: left;
  width: 66.66666666666666%;
}
@media (max-width: 750px) {
  .col-8 {
    width: 100%;
    float: none;
  }
}
.col-9 {
  float: left;
  width: 75%;
}
@media (max-width: 750px) {
  .col-9 {
    width: 100%;
    float: none;
  }
}
.col-10 {
  float: left;
  width: 83.33333333333334%;
}
@media (max-width: 750px) {
  .col-10 {
    width: 100%;
    float: none;
  }
}
.col-11 {
  float: left;
  width: 91.66666666666666%;
}
@media (max-width: 750px) {
  .col-11 {
    width: 100%;
    float: none;
  }
}
.col-12 {
  float: left;
  width: 100%;
}
@media (max-width: 750px) {
  .col-12 {
    width: 100%;
    float: none;
  }
}
.btn {
  padding: 0.78125vw 2.083333333333333vw 0.78125vw;
  box-shadow: 0 8px 16px rgba(0,0,0,0.13);
  border-radius: 30px;
  color: #fff;
  font-family: Gotham Pro;
  font-size: 1.09375vw;
  text-decoration: none;
  background-color: #f94372;
  font-weight: 700;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
}
.btn:focus {
  outline: none;
}
@media (max-width: 750px) {
  .btn {
    font-size: 5vw;
    padding: 3.125vw 9.375vw;
  }
}
.btn--blue {
  background-color: #fff;
  color: #7e79e6;
  border: 3px solid #7e79e6;
  box-shadow: none;
  font-size: 0.885416666666667vw;
  padding: 0.78125vw 1.041666666666667vw;
}
@media (max-width: 750px) {
  .btn--blue {
    font-weight: 400;
    font-size: 3.28125vw;
    padding: 4.6875vw 7.8125vw;
  }
}
.btn--level {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 750px) {
  .btn--level-map {
    padding: 3.125vw 6.25vw;
    font-size: 3.28125vw;
  }
}
.btn--read {
  padding: 1.041666666666667vw 3.645833333333333vw;
}
@media (max-width: 750px) {
  .btn--read {
    padding: 4.6875vw 0;
    width: 100%;
    display: block;
    text-align: center;
  }
}
.btn--next-block {
  display: block;
  margin-top: 1.5625vw;
  font-size: 0.78125vw;
  padding: 1.145833333333333vw 1.5625vw;
}
@media (max-width: 750px) {
  .btn--next-block {
    font-size: 2.34375vw;
    padding: 2.34375vw 1.5625vw;
  }
}
.btn--more {
  width: 9.895833333333334vw;
  font-size: 0.833333333333333vw;
}
@media (max-width: 750px) {
  .btn--more {
    font-size: 2.5vw;
  }
}
.btn--accept {
  font-size: 0.833333333333333vw;
  font-weight: 700;
  border: none;
}
@media (max-width: 750px) {
  .btn--accept {
    font-size: 4.53125vw;
    margin-top: 4.6875vw;
    padding: 3.125vw 18.75vw;
  }
}
.btn--pay {
  width: 21.614583333333336vw;
  margin: 0.78125vw 0.520833333333333vw;
  font-size: 0.833333333333333vw;
  padding: 1.041666666666667vw 0;
  border: none;
}
@media (max-width: 750px) {
  .btn--pay {
    font-size: 4.53125vw;
    width: 84.0625vw;
    padding: 3.125vw 9.375vw;
  }
}
.btn--again {
  font-size: 0.833333333333333vw;
}
@media (max-width: 750px) {
  .btn--again {
    font-size: 2.5vw;
    display: inline-block;
  }
}
.btn--congrat {
  font-size: 0.833333333333333vw;
  padding: 1.145833333333333vw 5.364583333333334vw;
  display: inline-block;
}
@media (max-width: 750px) {
  .btn--congrat {
    font-family: Circe;
    font-size: 4.53125vw;
    font-weight: 400;
    padding: 4.0625vw 15.625vw;
  }
}
.btn--radio {
  font-size: 0.833333333333333vw;
  position: relative;
  padding: 1.197916666666667vw 3.385416666666667vw;
}
@media (max-width: 750px) {
  .btn--radio {
    font-size: 2.8125vw;
    padding: 3.90625vw 10.15625vw;
  }
}
.btn--radio-active {
  z-index: 5;
}
.btn--radio-disactive {
  background-color: #f5f2fa;
  color: #000;
}
.btn--radio-right {
  z-index: 4;
  left: -2.083333333333333vw;
}
@media (max-width: 750px) {
  .btn--radio-right {
    left: -7.8125vw;
  }
}
.btn--final-offer-pay {
  font-size: 0.833333333333333vw;
  padding: 1.041666666666667vw 3.125vw;
}
@media (max-width: 750px) {
  .btn--final-offer-pay {
    font-size: 4.53125vw;
    padding: 3.90625vw 25vw;
  }
}
.btn--program {
  font-size: 0.833333333333333vw;
  padding: 1.041666666666667vw 3.125vw;
  display: inline-block;
}
@media (max-width: 750px) {
  .btn--program {
    font-size: 4.53125vw;
    padding: 3.90625vw 10.15625vw;
  }
}
.btn--comments {
  font-size: 0.833333333333333vw;
  padding: 1.041666666666667vw 3.125vw;
}
@media (max-width: 750px) {
  .btn--comments {
    font-size: 4.53125vw;
    padding: 3.90625vw 10.15625vw;
  }
}
.btn--popup {
  display: inline-block;
  font-size: 0.833333333333333vw;
}
@media (max-width: 750px) {
  .btn--popup {
    font-size: 3.59375vw;
    font-weight: 400;
    padding: 3.125vw 2.5vw;
  }
}
.btn--detect {
  display: inline-block;
  font-size: 0.833333333333333vw;
}
@media (max-width: 750px) {
  .btn--detect {
    font-size: 4.53125vw;
    font-weight: 400;
    padding: 4.0625vw 6.09375vw;
  }
}
.btn--size-old {
  display: inline-block;
  margin-left: 2.5vw;
  margin-top: 2.083333333333333vw;
}
@media (max-width: 750px) {
  .btn--size-old {
    font-size: 4.53125vw;
    font-weight: 400;
    padding: 3.90625vw 7.8125vw;
  }
}
.btn--size {
  font-size: 0.833333333333333vw;
}
@media (max-width: 750px) {
  .btn--size {
    font-size: 4.53125vw;
    font-weight: 400;
    border: none;
  }
}
.btn--white {
  background-color: #fff;
  color: #333629;
  font-size: 1.09375vw;
  font-weight: 400;
  position: relative;
  z-index: 2;
}
@media (max-width: 750px) {
  .btn--white {
    font-size: 3.28125vw;
    font-weight: 700;
    padding: 4.6875vw 6.25vw;
  }
}
.btn--marafons {
  font-size: 0.833333333333333vw;
  position: relative;
  bottom: 1.822916666666667vw;
  padding: 1.041666666666667vw 2.083333333333333vw;
}
@media (max-width: 750px) {
  .btn--marafons {
    font-size: 4.6875vw;
    font-weight: 700;
    padding: 4.6875vw 4.6875vw;
    bottom: 7.8125vw;
  }
}
.btn--test {
  padding: 0.78125vw 4.166666666666667vw;
}
@media (max-width: 750px) {
  .btn--test {
    padding: 3.90625vw 31.25vw;
    font-weight: 400;
  }
}
.btn--sendgame {
  display: inline-block;
  font-weight: 400;
  padding: 4.6875vw 14.0625vw;
}
.btn--true {
  background-color: #6bca0c;
}
.abs-image {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}
.abs-image--ball {
  width: 32.91666666666667vw;
  height: 32.91666666666667vw;
  background-image: url("../images/bg_ball.png");
  top: 19.6875vw;
  left: 0;
  z-index: 1;
}
@media (max-width: 750px) {
  .abs-image--ball {
    display: none;
  }
}
.abs-image--ball-right {
  right: 0;
  left: inherit;
}
.abs-image--ball-small {
  background-image: url("../images/ball2.png");
  width: 17.1875vw;
  height: 31.25vw;
  right: 0;
  top: 36%;
  left: inherit;
  z-index: 6;
}
.abs-image--apples {
  width: 15.364583333333334vw;
  height: 18.489583333333336vw;
  background-image: url("../images/bg_fruits.png");
  bottom: 0;
  left: -0.260416666666667vw;
  z-index: 6;
}
@media (max-width: 750px) {
  .abs-image--apples {
    background-image: url("../images/bg_fruits_mobile.png");
    width: 23.28125vw;
    height: 57.03125vw;
    top: 267.96875vw;
    left: 0;
  }
}
.abs-image--rope {
  width: 21.09375vw;
  height: 21.354166666666668vw;
  background-image: url("../images/bg_jump.png");
  top: 10.9375vw;
  z-index: 5;
  right: 0;
}
@media (max-width: 750px) {
  .abs-image--rope {
    display: none;
  }
}
.abs-image--dumbbells {
  width: 10.416666666666668vw;
  height: 28.645833333333336vw;
  background-image: url("../images/bg_dumbell.png");
  bottom: 0;
  right: 0;
  z-index: 6;
}
@media (max-width: 750px) {
  .abs-image--dumbbells {
    display: none;
  }
}
.abs-image--dumbbells-left {
  left: 1.302083333333333vw;
  bottom: 5.208333333333334vw;
  z-index: 1;
}
.abs-image--blueball {
  width: 30.208333333333336vw;
  height: 33.333333333333336vw;
  background-image: url("../images/blueball.png");
  bottom: 0;
  z-index: 1;
}
@media (max-width: 750px) {
  .abs-image--blueball {
    display: none;
  }
}
.abs-image--blueball2 {
  width: 16.666666666666668vw;
  height: 31.770833333333336vw;
  background-image: url("../images/blueball2.png");
  top: 12%;
  left: -4.166666666666667vw;
  z-index: 6;
}
@media (max-width: 750px) {
  .abs-image--blueball2 {
    background-image: url("../images/blueball2-min.png");
    left: 0;
    top: 3%;
    width: 15.625vw;
    height: 109.375vw;
  }
}
.abs-image--ruler {
  width: 32.8125vw;
  height: 20.833333333333336vw;
  background-image: url("../images/rulet.png");
  bottom: 0;
  right: 0;
  z-index: 6;
  background-size: inherit;
}
@media (max-width: 750px) {
  .abs-image--ruler {
    display: none;
  }
}
.abs-image--yellowball {
  width: 16.927083333333336vw;
  height: 16.927083333333336vw;
  background-image: url("../images/yellowball.png");
  top: 33.85416666666667vw;
  right: 3.385416666666667vw;
  z-index: 1;
}
@media (max-width: 750px) {
  .abs-image--yellowball {
    display: none;
  }
}
.abs-image--yellowball-left {
  left: 0;
  top: 30%;
}
.abs-image--dumbbells2 {
  width: 18.229166666666668vw;
  height: 35.9375vw;
  background-image: url("../images/bg_dumbell2.png");
  top: 8.854166666666668vw;
  left: -4.166666666666667vw;
  z-index: 6;
}
.abs-image--dumbbells3 {
  width: 18.75vw;
  height: 15.364583333333334vw;
  right: 0;
  top: 18%;
  z-index: 6;
  background-image: url("../images/dumbells3.png");
}
@media (max-width: 750px) {
  .abs-image--dumbbells3 {
    background-image: url("../images/dumbells3-min.png");
    right: 0;
    width: 23.4375vw;
    height: 46.09375vw;
    top: 10%;
  }
}
.abs-image--bottle {
  width: 22.760416666666668vw;
  height: 28.802083333333336vw;
  background-image: url("../images/bottle.png");
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: 6;
}
@media (max-width: 750px) {
  .abs-image--bottle {
    display: none;
  }
}
.abs-image--juice {
  width: 18.229166666666668vw;
  height: 25.260416666666668vw;
  background-image: url("../images/juice-bg.png");
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: 6;
}
.abs-image--cup {
  background-image: url("../images/cup1.png");
  width: 19.53125vw;
  height: 17.96875vw;
  top: 60%;
  left: 0;
  z-index: 6;
}
.abs-image--cup2 {
  background-image: url("../images/cup2.png");
  width: 19.53125vw;
  height: 26.041666666666668vw;
  bottom: 0;
  right: 0;
  z-index: 6;
  background-size: cover;
}
@media (max-width: 750px) {
  .abs-image--mobile-none {
    display: none;
  }
}
.slick-list:before {
  content: ' ';
  position: absolute;
  border: 1px dashed #020202;
  width: 80%;
  opacity: 0.15;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0);
}
@media (max-width: 750px) {
  .slick-list:before {
    display: none;
  }
}
/*PAGE 2*/
.blocks {
  width: 100%;
  margin: 5.208333333333334vw auto -2.083333333333333vw;
  text-align: center;
  position: relative;
}
@media (max-width: 750px) {
  .blocks {
    width: 90%;
  }
}
.blocks:before {
  content: ' ';
  position: absolute;
  border: 1px dashed #020202;
  width: 60%;
  opacity: 0.15;
  left: 50%;
  top: 46%;
  transform: translate(-50%, 0);
}
@media (max-width: 750px) {
  .blocks:before {
    display: none;
  }
}
.block {
  padding: 2.083333333333333vw 0;
  padding-left: 0.78125vw;
  padding-right: 1.041666666666667vw;
  border-radius: 30px;
  border: 4px solid #eaeaea;
  display: inline-block;
  text-align: center;
  margin-left: 1.822916666666667vw;
}
@media (max-width: 750px) {
  .block {
    display: block;
    margin: 0;
    padding-top: 6.25vw;
    padding-bottom: 4.6875vw;
    margin-top: 3.125vw;
  }
}
@media (max-width: 400px) {
  .block {
    border-width: 2px;
  }
}
.block__title {
  font-family: Circe;
  font-size: 1.5625vw;
  font-weight: 700;
}
@media (max-width: 750px) {
  .block__title {
    font-size: 4.53125vw;
  }
}
.block--blue {
  color: #1583ff;
}
.block--red {
  color: #f94e7a;
}
.block__content {
  padding-top: 1.5625vw;
  width: 10.15625vw;
  display: inline-block;
  vertical-align: top;
  margin: 0 1.041666666666667vw;
}
@media (max-width: 750px) {
  .block__content {
    width: 43%;
    padding-top: 3.90625vw;
  }
}
.block__text {
  color: #555f73;
  font-family: Circe;
  font-size: 1.041666666666667vw;
  font-weight: 700;
  line-height: 1.3;
}
@media (max-width: 750px) {
  .block__text {
    font-size: 3.125vw;
  }
}
.block__round {
  display: block;
  border-radius: 50%;
  width: 10.15625vw;
  height: 10.15625vw;
  position: relative;
  margin-bottom: 1.5625vw;
  background-color: #fff;
}
@media (max-width: 750px) {
  .block__round {
    width: 28.125vw;
    height: 28.125vw;
    margin-bottom: 6.5625vw;
  }
}
.block__round--opened {
  border: 3px solid #f94372;
}
.block__round--opened:after {
  content: ' ';
  height: 4.6875vw;
  width: 4.6875vw;
  position: absolute;
  top: 50%;
  margin-top: -2.34375vw;
  left: 50%;
  margin-left: -2.34375vw;
  background-image: url("../images/cube.png");
  background-size: cover;
}
@media (max-width: 750px) {
  .block__round--opened:after {
    width: 13.28125vw;
    height: 13.28125vw;
    margin-top: -6.640625vw;
    margin-left: -6.640625vw;
  }
}
.block__round--closed {
  border: 1px solid #d3d3d3;
}
.block__round--closed:after {
  content: ' ';
  height: 2.96875vw;
  width: 2.239583333333333vw;
  position: absolute;
  top: 50%;
  margin-top: -1.484375vw;
  left: 50%;
  margin-left: -1.119791666666667vw;
  background-image: url("../images/padlock-2.png");
  background-size: cover;
}
@media (max-width: 750px) {
  .block__round--closed:after {
    width: 7.96875vw;
    height: 10.9375vw;
    margin-top: -5.46875vw;
    margin-left: -3.984375vw;
  }
}
.slider__arrow {
  position: absolute;
  width: 1.09375vw;
  height: 1.71875vw;
  background: url("../images/arrow.png") no-repeat;
  border: none;
  background-size: contain;
  top: 50%;
  margin-top: -2.213541666666667vw;
  cursor: pointer;
}
.slider__arrow:hover:after {
  opacity: 1;
}
.slider__arrow:after {
  content: ' ';
  width: 1.09375vw;
  height: 1.71875vw;
  left: 0;
  top: 0;
  background: url("../images/arrow_active.png") no-repeat;
  background-size: contain;
  opacity: 0;
  position: absolute;
  transition: 0.3s all ease;
}
.slider__arrow:focus {
  outline: none;
}
.slider__arrow--prev {
  left: -2.083333333333333vw;
}
.slider__arrow--next {
  right: -2.083333333333333vw;
  background-image: url("../images/arrow_next.png");
}
.slider__arrow--next:after {
  background-image: url("../images/arrow_next_active.png");
}
.slider-comments__arrow {
  position: absolute;
  width: 1.666666666666667vw;
  height: 3.072916666666667vw;
  background: url("../images/left-arrow2.png") no-repeat;
  border: none;
  background-size: contain;
  top: 50%;
  margin-top: -4.166666666666667vw;
  cursor: pointer;
}
.slider-comments__arrow:focus {
  outline: none;
}
@media (max-width: 750px) {
  .slider-comments__arrow {
    width: 5vw;
    height: 9.21875vw;
    margin-top: -9.375vw;
  }
}
.slider-comments__arrow--prev {
  left: -3.385416666666667vw;
}
@media (max-width: 750px) {
  .slider-comments__arrow--prev {
    left: 0;
  }
}
.slider-comments__arrow--next {
  right: -3.645833333333333vw;
  background-image: url("../images/right-arrow2.png");
}
@media (max-width: 750px) {
  .slider-comments__arrow--next {
    right: 0;
  }
}
.slider-comments:focus {
  outline: none;
}
/*4 PAGE*/
.content-head {
  width: 61.97916666666667vw;
  background-image: url("../images/bg_food.png");
  background-size: cover;
  background-color: rgba(0,0,0,0.9);
  padding: 2.864583333333333vw 4.166666666666667vw 4.6875vw 4.166666666666667vw;
  box-sizing: border-box;
  margin-top: -2.34375vw;
  margin-bottom: 1.302083333333333vw;
  box-shadow: 0px 4px 27px 0px rgba(0,0,0,0.22);
  border-radius: 5px;
}
@media (max-width: 750px) {
  .content-head {
    width: 94.0625vw;
    margin: -5.46875vw -4.21875vw 5.9375vw;
    padding: 6.25vw 4.6875vw 7.03125vw 3.90625vw;
  }
}
.content-head__title {
  font-size: 1.927083333333333vw;
  font-weight: 400;
  font-family: Circe;
  color: #fff;
}
@media (max-width: 750px) {
  .content-head__title {
    font-size: 4.21875vw;
  }
}
.content-head__title:after {
  content: ' ';
  width: 100%;
  height: 0.052083333333333vw;
  background-color: #fff;
  margin-top: 2.447916666666667vw;
  display: block;
  margin-bottom: 2.083333333333333vw;
  opacity: 0.66;
}
@media (max-width: 750px) {
  .content-head__title:after {
    height: 0.15625vw;
    margin-top: 5.46875vw;
    margin-bottom: 4.0625vw;
  }
}
.content-head__points {
  font-family: Circe;
  font-weight: 700;
  font-size: 1.041666666666667vw;
  color: #fff;
  line-height: 1.2;
  position: relative;
  top: 0.885416666666667vw;
}
@media (max-width: 750px) {
  .content-head__points {
    font-size: 2.8125vw;
  }
}
.content-head__points:before {
  content: ' ';
  width: 6.25vw;
  display: inline-block;
  height: 6.25vw;
  background-image: url("../images/star.png");
  background-size: cover;
  float: left;
  position: relative;
  top: -1.822916666666667vw;
  margin-right: 0.520833333333333vw;
}
@media (max-width: 750px) {
  .content-head__points:before {
    width: 11.09375vw;
    height: 11.09375vw;
  }
}
.c-green {
  color: #8fb500;
  font-weight: 700;
}
.text--greenborder {
  margin-top: 3.385416666666667vw;
  border: 5px solid #8fb500;
  padding: 2.604166666666667vw 4.6875vw 2.864583333333333vw;
  color: #555f73;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 750px) {
  .text--greenborder {
    font-size: 3.4375vw;
  }
}
.bottom-left {
  padding-right: 4.166666666666667vw;
}
.bottom-left__points {
  margin: 2.083333333333333vw 0 4.947916666666667vw;
}
@media (max-width: 750px) {
  .bottom-left__points {
    margin-top: 10.15625vw;
  }
}
.bottom-left img {
  max-width: 100%;
  border-radius: 5px;
}
@media (max-width: 750px) {
  .bottom-left img {
    width: 100%;
    height: 50vw;
  }
}
@media (max-width: 750px) {
  .bottom-right {
    margin-top: 7.8125vw;
  }
}
.get-points {
  font-family: Gotham Pro;
  font-size: 0.78125vw;
  font-weight: 700;
  text-decoration: none;
}
.get-points--btn {
  display: inline-block;
  margin-left: 1.041666666666667vw;
}
@media (max-width: 750px) {
  .get-points--btn {
    margin-left: 0;
    margin-top: 4.6875vw;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
  }
}
.get-points--article {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 80%;
  box-sizing: border-box;
  padding: 0.364583333333333vw 1.041666666666667vw;
  bottom: -1.5625vw;
  border-radius: 32px;
  background-color: #fff;
}
@media (max-width: 750px) {
  .get-points--article {
    padding: 1.25vw 5vw 1.875vw;
    bottom: -5.46875vw;
  }
}
.get-points__inner {
  padding: 1.041666666666667vw 1.041666666666667vw 1.041666666666667vw 4.166666666666667vw;
  color: #555f73;
  line-height: 1;
}
@media (max-width: 750px) {
  .get-points__inner {
    padding: 4.21875vw 3.125vw 3.125vw 12.5vw;
  }
}
@media (max-width: 750px) {
  .get-points {
    font-size: 3.4375vw;
  }
}
.get-points:before {
  content: ' ';
  width: 2.34375vw;
  height: 2.604166666666667vw;
  display: inline-block;
  background-image: url("../images/star2.png");
  background-size: cover;
  position: absolute;
}
@media (max-width: 750px) {
  .get-points:before {
    width: 9.84375vw;
    height: 10.9375vw;
  }
}
.back-link {
  text-decoration: none;
  color: #7e79e6;
  font-family: Circe;
  font-size: 0.989583333333333vw;
  font-weight: 400;
  position: relative;
  top: -4.0625vw;
}
@media (max-width: 750px) {
  .back-link {
    font-size: 3.90625vw;
    top: 0;
  }
}
.back-link:before {
  content: ' ';
  width: 1.197916666666667vw;
  height: 0.885416666666667vw;
  display: inline-block;
  background-image: url("../images/right-arrow.png");
  background-size: cover;
  margin-right: 0.78125vw;
}
@media (max-width: 750px) {
  .back-link:before {
    width: 3.59375vw;
    height: 2.65625vw;
    margin-right: 2.96875vw;
  }
}
.back-link--simple {
  top: 0;
}
@media (max-width: 750px) {
  .back-link--simple {
    display: none;
  }
}
.back-link--game {
  top: -3.75vw;
}
@media (max-width: 750px) {
  .back-link--game {
    font-weight: 700;
    top: 3.125vw;
  }
}
.top-content__right {
  float: right;
}
@media (max-width: 750px) {
  .top-content__right {
    width: 50%;
    position: relative;
  }
}
@media (max-width: 750px) {
  .top-content__right--scanner {
    display: none;
  }
}
.top-content__title {
  color: #313131;
  font-family: Gotham Pro;
  font-size: 1.666666666666667vw;
  font-weight: 300;
  margin-bottom: 1.822916666666667vw;
}
@media (max-width: 750px) {
  .top-content__title {
    font-size: 5vw;
    line-height: 3;
    margin-bottom: 7.8125vw;
  }
}
.top-content__title--scanner {
  margin-bottom: 0.833333333333333vw;
}
@media (max-width: 750px) {
  .top-content__title--scanner {
    line-height: 1;
    font-size: 6.71875vw;
    margin-top: 10.3125vw;
    margin-bottom: 2.34375vw;
  }
}
.top-content--scanner {
  margin-top: -2.1875vw;
}
.d-blue {
  color: #555f73;
}
.completed {
  display: inline-block;
  position: absolute;
  text-align: center;
  margin-left: 13.541666666666668vw;
}
.completed--scanner {
  margin-left: 16.40625vw;
}
.completed--next {
  margin-top: 2.1875vw;
  margin-left: 2.604166666666667vw;
}
@media (max-width: 750px) {
  .completed {
    top: -3.90625vw;
    right: 3.90625vw;
  }
}
.completed__text {
  font-family: Circe;
  font-size: 1.354166666666667vw;
  font-weight: 700;
}
@media (max-width: 750px) {
  .completed__text {
    font-size: 4.0625vw;
  }
}
.completed__step {
  display: block;
  color: #7e79e6;
  font-family: Gotham Pro;
  font-size: 2.5vw;
  font-weight: 300;
  margin-top: 1.302083333333333vw;
}
@media (max-width: 750px) {
  .completed__step {
    font-size: 7.5vw;
    line-height: 1.4;
  }
}
.completed__step--next {
  float: right;
  margin-left: 1.5625vw;
  margin-top: 0;
}
.completed--mobile {
  display: none;
  position: relative;
  top: 3.125vw;
  right: 5vw;
  margin-left: 0;
}
@media (max-width: 750px) {
  .completed--mobile {
    display: block;
  }
}
.articles:before {
  content: ' ';
  width: 100%;
  height: 5px;
  background-color: #ff8094;
  opacity: 0.14;
  display: block;
  margin: 2.864583333333333vw 0 4.427083333333334vw;
}
.article {
  background-color: #fff;
  margin: 0 0.416666666666667vw;
}
.col-4:nth-child(3n+1) .article {
  margin: 0 0.833333333333333vw 0 0;
}
.col-4:nth-child(3n+3) .article {
  margin: 0 0 0 0.833333333333333vw;
}
.article__img {
  box-shadow: 0 46px 163px 9px rgba(0,0,0,0.17);
  border-radius: 10px;
  padding: 0.364583333333333vw;
  position: relative;
}
@media (max-width: 750px) {
  .article__img {
    padding: 1.09375vw;
  }
}
.article__img--readed:before {
  content: ' ';
  width: calc(100% - 0.72vw);
  height: calc(100% - 0.72vw);
  border-radius: 5px;
  background-color: rgba(136,131,232,0.6);
  position: absolute;
}
@media (max-width: 750px) {
  .article__img--readed:before {
    width: calc(100% - 2.2vw);
    height: calc(100% - 2.2vw);
    border-radius: 10px;
  }
}
.article__img--readed:after {
  content: 'Прочитано';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: Circe;
  font-size: 1.770833333333333vw;
  font-weight: 400;
}
@media (max-width: 750px) {
  .article__img--readed:after {
    font-size: 5.3125vw;
  }
}
.article__img img {
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 750px) {
  .article__img img {
    width: 100%;
  }
}
.article__name {
  color: #f94566;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  margin-top: 3.385416666666667vw;
}
@media (max-width: 750px) {
  .article__name {
    font-size: 4.84375vw;
    margin-top: 9.375vw;
  }
}
.article__desc {
  margin-top: 1.041666666666667vw;
}
@media (max-width: 750px) {
  .article__desc {
    margin-top: 2.5vw;
    margin-bottom: 10.15625vw;
  }
}
.fireworks {
  position: relative;
}
.fireworks:before,
.fireworks:after {
  content: ' ';
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.fireworks:before {
  width: 3.125vw;
  height: 3.645833333333333vw;
  background-image: url("../images/firework1.png");
  left: 3.125vw;
}
@media (max-width: 750px) {
  .fireworks:before {
    width: 9.375vw;
    height: 10.9375vw;
    top: 0.78125vw;
    left: 3.28125vw;
  }
}
.fireworks:after {
  width: 5.208333333333334vw;
  height: 6.25vw;
  background-image: url("../images/firework2.png");
  top: -3.28125vw;
  left: 16.666666666666668vw;
}
@media (max-width: 750px) {
  .fireworks:after {
    width: 10.46875vw;
    height: 12.5vw;
    top: 0vw;
    left: 33.59375vw;
  }
}
.fireworks--lg:before {
  width: 7.8125vw;
  height: 9.114583333333334vw;
  background-image: url("../images/firework4.png");
  top: -0.572916666666667vw;
  left: -0.520833333333333vw;
}
@media (max-width: 750px) {
  .fireworks--lg:before {
    top: -7.8125vw;
  }
}
.fireworks--lg:after {
  width: 9.53125vw;
  height: 9.53125vw;
  background-image: url("../images/firework3.png");
  top: 0;
  left: 53.125vw;
}
@media (max-width: 750px) {
  .fireworks--lg:after {
    top: -7.8125vw;
    left: 78.125vw;
  }
}
.fireworks--lg-congrat:before {
  top: -1.302083333333333vw;
  left: -1.822916666666667vw;
}
@media (max-width: 750px) {
  .fireworks--lg-congrat:before {
    width: 12.5vw;
    height: 15vw;
    top: -15.15625vw;
  }
}
.fireworks--lg-congrat:after {
  top: -1.822916666666667vw;
  left: 57.29166666666667vw;
}
@media (max-width: 750px) {
  .fireworks--lg-congrat:after {
    background-image: url("../images/firework2.png");
    width: 14.0625vw;
    height: 16.40625vw;
    top: -17.1875vw;
    left: 74.21875vw;
  }
}
.fireworks--popup {
  margin: 6.770833333333334vw 10.9375vw 0;
}
@media (max-width: 750px) {
  .fireworks--popup {
    margin: 0;
  }
}
.fireworks--popup:before {
  width: 5.260416666666667vw;
  height: 6.197916666666667vw;
  background-image: url("../images/firework-popup1.png");
  top: -5.729166666666667vw;
  left: -5.208333333333334vw;
}
@media (max-width: 750px) {
  .fireworks--popup:before {
    top: 3.125vw;
    left: 0vw;
    width: 12.65625vw;
    height: 15.625vw;
  }
}
.fireworks--popup:after {
  width: 7.291666666666667vw;
  height: 8.59375vw;
  background-image: url("../images/firework-popup2.png");
  top: -6.25vw;
  left: 41.66666666666667vw;
}
@media (max-width: 750px) {
  .fireworks--popup:after {
    top: 15.625vw;
    left: auto;
    right: 0;
    width: 10.9375vw;
    height: 12.8125vw;
  }
}
.fireworks .completed {
  margin-left: 4.53125vw;
}
@media (max-width: 750px) {
  .fireworks .completed {
    margin-top: 2.34375vw;
    top: -6.40625vw;
  }
}
.results {
  text-align: center;
  margin-top: -4.791666666666667vw;
  padding: 0 3.125vw;
}
@media (max-width: 750px) {
  .results {
    padding: 16.40625vw 0 0 0;
  }
}
.results-top__title {
  margin-bottom: 1.041666666666667vw;
}
@media (max-width: 750px) {
  .results-top__title {
    display: block;
    margin-bottom: 4.21875vw;
  }
}
.results-top__answers {
  color: #555f73;
  font-family: Circe;
  font-size: 1.354166666666667vw;
  font-weight: 700;
}
@media (max-width: 750px) {
  .results-top__answers {
    font-size: 4.0625vw;
  }
}
.results-top__points {
  font-size: 2.5vw;
  font-weight: 300;
}
@media (max-width: 750px) {
  .results-top__points {
    font-size: 7.5vw;
  }
}
.results-top__points--orange {
  color: #ff9600;
}
.results-top__points--red {
  color: #ce2727;
}
.new-points {
  background-color: #e8ebfc;
  display: inline-block;
  padding: 0.520833333333333vw 4.375vw 0.78125vw 5.885416666666667vw;
  margin-top: 2.083333333333333vw;
}
@media (max-width: 750px) {
  .new-points {
    margin-top: 4.21875vw;
    padding: 3.125vw 17.1875vw 4.6875vw 15.625vw;
  }
}
.new-points__count {
  color: #7e79e6;
  font-family: "Gotham Pro";
  font-size: 4.166666666666667vw;
  font-weight: 300;
}
@media (max-width: 750px) {
  .new-points__count {
    font-size: 12.5vw;
  }
}
.new-points__text {
  color: #242424;
  font-family: "Gotham Pro";
  font-size: 2.5vw;
  font-weight: 300;
  position: relative;
  top: -0.520833333333333vw;
}
@media (max-width: 750px) {
  .new-points__text {
    font-size: 7.5vw;
  }
}
.results-content {
  margin-top: 2.604166666666667vw;
}
@media (max-width: 750px) {
  .results-content {
    margin-top: 7.03125vw;
  }
}
.results-content__left img {
  max-width: 100%;
  height: ;
}
.results-content__right {
  padding: 2.604166666666667vw 0 2.604166666666667vw 3.645833333333333vw;
  box-sizing: border-box;
  text-align: left;
}
@media (max-width: 750px) {
  .results-content__right {
    padding-top: 10.9375vw;
  }
}
.results-more {
  margin-top: 2.083333333333333vw;
  padding: 1.5625vw 2.34375vw 1.5625vw 1.041666666666667vw;
  box-shadow: 0 29px 36px 2px rgba(0,0,0,0.09);
  border: 2px solid #f5f2fa;
}
@media (max-width: 750px) {
  .results-more {
    padding-bottom: 9.375vw;
    text-align: center;
  }
}
.results-more__left {
  padding-top: 0.78125vw;
  padding-right: 80;
  box-sizing: border-box;
}
.results-more__left img {
  max-width: 100%;
}
.results-more__right {
  padding-left: 1.302083333333333vw;
  box-sizing: border-box;
}
@media (max-width: 750px) {
  .results-more__right {
    margin-bottom: 3.90625vw;
  }
}
.results-more__button {
  padding-top: 1.875vw;
  box-sizing: border-box;
}
.results-more__week {
  font-family: Circe;
  font-size: 1.875vw;
  font-weight: 300;
}
@media (max-width: 750px) {
  .results-more__week {
    font-size: 5.625vw;
  }
}
.again {
  text-align: center;
  padding-top: 2.864583333333333vw;
  padding-bottom: 3.645833333333333vw;
}
.again__text {
  color: #313131;
  font-family: Gotham Pro;
  font-size: 1.354166666666667vw;
  font-weight: 700;
  display: inline-block;
  margin-right: 2.864583333333333vw;
}
@media (max-width: 750px) {
  .again__text {
    font-size: 4.0625vw;
    margin-bottom: 4.6875vw;
  }
}
.buy {
  margin-top: 2.34375vw;
  margin-bottom: 1.5625vw;
  border: 8px solid #ffedf0;
  padding: 1.5625vw 0 2.5vw;
  text-align: center;
}
@media (max-width: 750px) {
  .buy {
    padding: 7.03125vw 0 8.28125vw;
    margin-top: 7.5vw;
    margin-bottom: 5.46875vw;
  }
}
.buy__title {
  color: #313131;
  font-family: "Gotham Pro";
  font-size: 1.354166666666667vw;
  font-weight: 700;
  display: inline-block;
}
@media (max-width: 750px) {
  .buy__title {
    font-size: 4.0625vw;
  }
}
.buy__title--single {
  color: #313131;
  font-family: Gotham Pro;
  font-size: 1.354166666666667vw;
  font-weight: 700;
  margin-top: 0.78125vw;
}
@media (max-width: 750px) {
  .buy__title--single {
    font-size: 4.0625vw;
  }
}
.buy__old-price {
  color: #484848;
  font-family: Circe;
  font-size: 1.25vw;
  margin-left: 2.34375vw;
}
@media (max-width: 750px) {
  .buy__old-price {
    font-size: 3.75vw;
    display: inline-block;
  }
}
.buy__price {
  color: #189118;
  font-size: 1.770833333333333vw;
  margin-left: 0.78125vw;
}
@media (max-width: 750px) {
  .buy__price {
    font-size: 5.3125vw;
  }
}
.buy__special {
  color: #ff8000;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 700;
  display: block;
  margin-top: 0.520833333333333vw;
}
@media (max-width: 750px) {
  .buy__special {
    font-size: 3.4375vw;
  }
}
.buy__text {
  margin-top: 1.041666666666667vw;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 400;
  color: #555f73;
  display: inline-block;
  line-height: 1.2;
}
@media (max-width: 750px) {
  .buy__text {
    font-size: 3.75vw;
    margin-top: 5.78125vw;
  }
}
.buy__link {
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 400;
  color: #3b99eb;
  text-decoration: none;
  display: inline-block;
}
@media (max-width: 750px) {
  .buy__link {
    font-size: 3.75vw;
  }
}
.timer {
  margin-top: 1.822916666666667vw;
}
.timer__item {
  display: inline-block;
}
.timer__day,
.timer__hour,
.timer__minute {
  color: #373737;
  font-family: Circe;
  font-size: 0.833333333333333vw;
  font-weight: 400;
  margin-bottom: 1.041666666666667vw;
}
@media (max-width: 750px) {
  .timer__day,
  .timer__hour,
  .timer__minute {
    font-size: 2.5vw;
    margin-bottom: 3.125vw;
  }
}
.timer__digit {
  width: 2.8125vw;
  height: 3.4375vw;
  background-image: url("../images/digit_bg.png");
  background-size: cover;
  color: #555;
  font-family: Arial;
  font-size: 2.447916666666667vw;
  font-weight: 700;
  padding: 0.260416666666667vw 0.78125vw;
}
@media (max-width: 750px) {
  .timer__digit {
    width: 8.4375vw;
    height: 10.3125vw;
    font-size: 7.34375vw;
    padding: 0.9375vw 2.1875vw 0.46875vw 2.34375vw;
  }
}
.payment {
  background-color: #8a4bd7;
  text-align: center;
  width: 76.30208333333334vw;
  position: relative;
  right: 7.03125vw;
  padding-top: 3.125vw;
  padding-bottom: 0.78125vw;
  margin-bottom: -4.166666666666667vw;
}
@media (max-width: 750px) {
  .payment {
    width: 100%;
    right: 4.21875vw;
    padding: 5.78125vw 3.90625vw;
    margin-bottom: -5.625vw;
  }
}
.payment__points {
  color: #fff;
  font-family: "Gotham Pro";
  font-size: 1.354166666666667vw;
  font-weight: 700;
}
@media (max-width: 750px) {
  .payment__points {
    font-size: 4.0625vw;
  }
}
.payment__points-count {
  font-size: 2.5vw;
  font-weight: 300;
}
@media (max-width: 750px) {
  .payment__points-count {
    font-size: 7.5vw;
  }
}
.payment__text {
  color: #fff;
  font-family: "Gotham Pro";
  font-size: 1.145833333333333vw;
  font-weight: 500;
  margin-top: 0.677083333333333vw;
}
@media (max-width: 750px) {
  .payment__text {
    font-size: 3.4375vw;
    margin-top: 2.1875vw;
    line-height: 1.2;
  }
}
.payment-form__points {
  margin-top: 1.5625vw;
}
@media (max-width: 750px) {
  .payment-form__points {
    margin-top: 7.03125vw;
  }
}
.payment-form__points span {
  color: #fff;
  font-family: "Gotham Pro";
  font-size: 1.354166666666667vw;
  font-weight: 400;
}
@media (max-width: 750px) {
  .payment-form__points span {
    font-size: 3.75vw;
  }
}
.payment__price {
  color: #fff;
  font-family: "Gotham Pro";
  font-size: 1.354166666666667vw;
  font-weight: 400;
  display: inline-block;
  margin-top: 2.083333333333333vw;
  position: relative;
  left: -2.864583333333333vw;
}
@media (max-width: 750px) {
  .payment__price {
    font-size: 3.75vw;
    margin-top: 8.59375vw;
  }
}
.payment__total {
  color: #fff;
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 1.354166666666667vw;
  display: inline-block;
}
@media (max-width: 750px) {
  .payment__total {
    font-size: 3.75vw;
    margin-top: 3.90625vw;
  }
}
.payment__total-sum {
  font-size: 1.875vw;
}
@media (max-width: 750px) {
  .payment__total-sum {
    font-size: 5.625vw;
  }
}
.payment-form__money {
  width: 46.875vw;
  margin: 1.822916666666667vw auto;
  text-align: left;
}
@media (max-width: 750px) {
  .payment-form__money {
    width: 100%;
    margin-top: 7.03125vw;
  }
}
.points-textbox {
  width: 5.208333333333334vw;
  border: 2px solid #fff;
  background-color: rgba(126,121,230,0);
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  font-family: "Gotham Pro";
  font-size: 1.354166666666667vw;
  font-weight: 400;
  margin-left: 0.520833333333333vw;
  margin-right: 1.302083333333333vw;
  -webkit-appearance: none;
}
.points-textbox:focus {
  outline: none;
}
@media (max-width: 750px) {
  .points-textbox {
    width: 15.625vw;
    margin: 2.34375vw auto;
    font-size: 4.0625vw;
    display: block;
  }
}
.textbox {
  width: 21.614583333333336vw;
  height: 3.385416666666667vw;
  display: inline-block;
  padding-left: 2.083333333333333vw;
  border-radius: 28px;
  border: 2px solid #fff;
  background-color: rgba(126,121,230,0);
  color: #fff;
  font-family: Circe;
  font-size: 1.041666666666667vw;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0.78125vw 0.520833333333333vw;
  -webkit-appearance: none;
}
.textbox:focus {
  outline: none;
}
@media (max-width: 750px) {
  .textbox {
    width: 84.375vw;
    height: 12.5vw;
    font-size: 4.6875vw;
    margin: 1.875vw 0;
    padding-left: 7.03125vw;
  }
}
.textbox--size {
  width: 7.03125vw;
  height: 3.020833333333333vw;
  margin-top: -0.78125vw;
  position: absolute;
  left: 10.416666666666668vw;
  border: 1px solid #c8c8c8;
  background-color: rgba(126,121,230,0);
  color: #555f73;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  padding: 0;
  font-weight: 400;
  text-align: center;
  display: inline-block;
}
@media (max-width: 750px) {
  .textbox--size {
    width: 23.4375vw;
    height: 10vw;
    font-size: 3.90625vw;
    left: 42.96875vw;
    margin-top: -3.125vw;
  }
}
.textbox--test {
  width: 6.510416666666667vw;
  height: 3.125vw;
  position: absolute;
  padding: 0;
  left: 5.989583333333334vw;
  margin-top: -0.78125vw;
  color: #555f73;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  border: 1px solid #c8c8c8;
  background-color: rgba(126,121,230,0);
  text-align: center;
  display: inline-block;
}
.textbox--test:focus {
  border: 1px solid #f94372;
}
@media (max-width: 750px) {
  .textbox--test {
    width: 32.03125vw;
    height: 14.84375vw;
    font-size: 5.625vw;
    left: 26.5625vw;
    margin-top: -3.125vw;
  }
}
.combobox {
  width: 21.614583333333336vw;
  height: 3.385416666666667vw;
  margin: 2.34375vw 0.520833333333333vw;
  border-radius: 28px;
  border: 2px solid #fff;
  background-color: rgba(126,121,230,0);
  color: #fff;
  font-family: Circe;
  font-size: 1.041666666666667vw;
  font-weight: 400;
  box-sizing: border-box;
  padding-left: 1.822916666666667vw;
  background-image: url("../images/combobox-arrow.png");
  background-repeat: no-repeat;
  background-position: 19.270833333333336vw center;
  cursor: pointer;
  background-size: 1.145833333333333vw 0.625vw;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.combobox:focus {
  outline: none;
}
@media (max-width: 750px) {
  .combobox {
    width: 84.375vw;
    height: 12.5vw;
    font-size: 4.6875vw;
    margin-top: 6.25vw;
    background-size: 3.4375vw 1.875vw;
    background-position: 76.5625vw center;
  }
}
.combobox option {
  color: #555f73;
}
.combobox--top {
  width: 11.458333333333334vw;
  height: 3.385416666666667vw;
  color: #7e79e6;
  font-weight: 700;
  border: 3px solid #7e79e6;
  margin: 0;
  display: inline-block;
  background-image: url("../images/cb_arrow.png");
  background-repeat: no-repeat;
  background-position: 9.114583333333334vw center;
  padding-top: 1.041666666666667vw;
  padding-left: 1.041666666666667vw;
  position: relative;
  top: -0.520833333333333vw;
}
.checkbox {
  color: #fff;
  font-family: "Gotham Pro";
  font-size: 0.9375vw;
  font-weight: 400;
  margin-left: 1.302083333333333vw;
}
@media (max-width: 750px) {
  .checkbox {
    font-size: 2.8125vw;
  }
}
.checkbox__text {
  position: relative;
  top: -0.442708333333333vw;
  left: 1.041666666666667vw;
}
@media (max-width: 750px) {
  .checkbox__text {
    top: -1.25vw;
  }
}
.checkbox input {
  display: none;
}
.checkbox i {
  display: inline-block;
  width: 1.302083333333333vw;
  height: 1.302083333333333vw;
  border-radius: 5px;
  border: 2px solid #d5d5d5;
  background-color: #fff;
  color: #7d55d2;
  margin-top: 0.9vw;
  cursor: pointer;
}
@media (max-width: 750px) {
  .checkbox i {
    width: 3.90625vw;
    height: 3.90625vw;
    margin-top: 4.6875vw;
  }
}
.checkbox--2 i {
  width: 1.302083333333333vw;
  height: 1.302083333333333vw;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  margin-right: 1vw;
  margin-left: 0.44vw;
}
.checkbox input:checked + i {
  background-image: url("../images/checked.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0.260416666666667vw;
}
.textbox::-webkit-input-placeholder {
  color: #fff;
}
.textbox::-moz-placeholder {
  color: #fff;
}
.textbox:-moz-placeholder {
  color: #fff;
}
.textbox:-ms-input-placeholder {
  color: #fff;
}
.textbox--size::-webkit-input-placeholder {
  color: #555f73;
}
.textbox--size:-moz-placeholder {
  color: #555f73;
}
.textbox--size:-moz-placeholder {
  color: #555f73;
}
.textbox--size:-ms-input-placeholder {
  color: #555f73;
}
.textbox--test::-webkit-input-placeholder {
  color: #555f73;
}
.textbox--test:-moz-placeholder {
  color: #555f73;
}
.textbox--test:-moz-placeholder {
  color: #555f73;
}
.textbox--test:-ms-input-placeholder {
  color: #555f73;
}
.strike {
  text-decoration: line-through;
}
/*PAGE 5*/
.congrat {
  text-align: center;
  padding-bottom: 3.385416666666667vw;
}
@media (max-width: 750px) {
  .congrat {
    padding-bottom: 39.0625vw;
  }
}
.congrat-top__title {
  color: #b82f80;
  font-family: Circe;
  font-size: 3.125vw;
  font-weight: 200;
}
@media (max-width: 750px) {
  .congrat-top__title {
    font-size: 9.375vw;
    margin-top: 12.65625vw;
  }
}
.congrat-top__desc {
  color: #555f73;
  font-family: Circe;
  font-size: 1.354166666666667vw;
  font-weight: 700;
  margin-top: 1.5625vw;
}
@media (max-width: 750px) {
  .congrat-top__desc {
    font-size: 4.375vw;
    margin-top: 5.9375vw;
  }
}
.congrat-top__desc--test {
  margin-bottom: 2.604166666666667vw;
}
@media (max-width: 750px) {
  .congrat-top__desc--test {
    margin-bottom: 7.8125vw;
  }
}
.congrat__text {
  width: 42.1875vw;
  margin: 3.385416666666667vw auto;
  color: #555f73;
  font-family: Circe;
  font-size: 1.354166666666667vw;
  font-weight: 400;
}
@media (max-width: 750px) {
  .congrat__text {
    margin: 4.84375vw auto 10.15625vw;
    font-size: 4.0625vw;
    width: 90%;
    margin-bottom: 10.9375vw;
    line-height: 1.4;
  }
}
.congrat__text--test {
  width: 100%;
  margin-top: 1.5625vw;
  margin-bottom: 2.34375vw;
}
@media (max-width: 750px) {
  .congrat__text--test {
    margin-top: 4.6875vw;
    margin-bottom: 7.03125vw;
  }
}
.video {
  text-align: center;
}
@media (max-width: 750px) {
  .video {
    padding-bottom: 3.90625vw;
  }
}
@media (max-width: 750px) {
  .video__title {
    display: block;
  }
}
.video__text {
  font-size: 1.354166666666667vw;
  margin-top: 1.666666666666667vw;
  margin-bottom: 2.864583333333333vw;
}
@media (max-width: 750px) {
  .video__text {
    font-size: 4.0625vw;
    margin-top: 5.625vw;
    margin-bottom: 7.8125vw;
  }
}
.video__frame {
  width: 41.40625vw;
  margin: 0 auto;
  position: relative;
  padding: 0.572916666666667vw 0.677083333333333vw;
  box-shadow: 0 2.395833333333333vw 8.489583333333334vw 0.46875vw rgba(0,0,0,0.17);
  border-radius: 10px;
  box-sizing: border-box;
}
@media (max-width: 750px) {
  .video__frame {
    width: 87.5vw;
    padding: 1.25vw 1.5625vw;
    box-shadow: 0 7.1875vw 25.46875vw 1.40625vw rgba(0,0,0,0.17);
  }
}
.video__frame-link img {
  position: relative;
  width: 100%;
  border-radius: 10px;
}
.video__frame-link:after {
  content: ' ';
  background-image: url("../images/play_btn.png");
  background-size: cover;
  width: 4.427083333333334vw;
  height: 4.427083333333334vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
@media (max-width: 750px) {
  .video__frame-link:after {
    width: 9.375vw;
    height: 9.375vw;
  }
}
.video__buttons {
  margin-top: 2.760416666666667vw;
}
@media (max-width: 750px) {
  .video__buttons {
    margin-top: 7.03125vw;
  }
}
.video__buttons-text {
  color: #555f73;
  font-family: Circe;
  font-size: 1.354166666666667vw;
  font-weight: 400;
  margin-right: 2.604166666666667vw;
}
@media (max-width: 750px) {
  .video__buttons-text {
    font-size: 4.0625vw;
  }
}
.video__buttons-btn {
  display: inline-block;
}
@media (max-width: 750px) {
  .video__buttons-btn {
    display: block;
    margin-top: 7.8125vw;
    margin-left: 5.46875vw;
  }
}
.final-offer {
  margin-top: -3.90625vw;
}
.final-offer__top-left {
  padding-right: 3.125vw;
  box-sizing: border-box;
}
.final-offer__top-left img {
  max-width: 100%;
}
@media (max-width: 750px) {
  .final-offer__top-left img {
    display: none;
  }
}
.final-offer__top-left-mobile img {
  display: none;
}
@media (max-width: 750px) {
  .final-offer__top-left-mobile img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 750px) {
  .final-offer__top-right {
    text-align: center;
  }
}
@media (max-width: 750px) {
  .final-offer__title {
    margin-top: 5vw;
  }
}
.final-offer__title-text {
  color: #555f73;
  font-family: Circe;
  font-size: 1.458333333333333vw;
  font-weight: 400;
}
@media (max-width: 750px) {
  .final-offer__title-text {
    font-size: 4.375vw;
    line-height: 1.2;
    text-align: left;
  }
}
.final-offer__title-week {
  color: #555f73;
  font-family: Circe;
  font-size: 2.083333333333333vw;
  font-weight: 300;
  float: right;
}
@media (max-width: 750px) {
  .final-offer__title-week {
    font-size: 7.5vw;
    margin-bottom: 1.71875vw;
    text-align: left;
  }
}
.final-offer__top-text {
  margin-top: 4.166666666666667vw;
  margin-bottom: 1.5625vw;
  color: #555f73;
  font-family: Circe;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 750px) {
  .final-offer__top-text {
    font-size: 4.0625vw;
    text-align: left;
    margin-bottom: 9.375vw;
  }
}
.final-offer__program {
  text-align: center;
  margin-top: 3.385416666666667vw;
}
@media (max-width: 750px) {
  .final-offer__program {
    margin-top: 8.59375vw;
  }
}
.final-offer__comment {
  text-align: center;
  margin-top: 4.270833333333334vw;
  margin-bottom: 5.989583333333334vw;
}
@media (max-width: 750px) {
  .final-offer__comment {
    margin-top: 14.0625vw;
  }
}
.program__title {
  color: #313131;
  font-family: "Gotham Pro";
  font-size: 1.354166666666667vw;
  font-weight: 700;
  text-align: left;
}
@media (max-width: 750px) {
  .program__title {
    font-size: 4.0625vw;
    text-align: center;
  }
}
.program__items {
  margin-top: 1.5625vw;
  margin-bottom: 3.645833333333333vw;
}
@media (max-width: 750px) {
  .program__items {
    margin-bottom: 13.28125vw;
  }
}
.program__item {
  display: inline-block;
  width: 10.208333333333334vw;
  height: 10.208333333333334vw;
  text-align: center;
  margin: 0 0.78125vw;
}
@media (max-width: 750px) {
  .program__item {
    width: 30.625vw;
    height: 30.625vw;
    margin: 5.46875vw;
  }
}
.program__item-img {
  width: 100%;
  height: 100%;
  background-color: #f7f2fd;
  border-radius: 50%;
  position: relative;
}
.program__item-img img {
  width: 4.739583333333334vw;
  height: 4.739583333333334vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 750px) {
  .program__item-img img {
    width: 14.21875vw;
    height: 14.21875vw;
  }
}
.program__text {
  color: #555f73;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 400;
  margin-top: 1.041666666666667vw;
}
@media (max-width: 750px) {
  .program__text {
    font-size: 3.4375vw;
    margin-top: 5.46875vw;
  }
}
.comment__title {
  color: #313131;
  font-family: "Gotham Pro";
  font-size: 1.354166666666667vw;
  font-weight: 700;
  text-align: left;
}
@media (max-width: 750px) {
  .comment__title {
    font-size: 4.0625vw;
    text-align: center;
  }
}
.comment__items {
  margin-top: 1.041666666666667vw;
  margin-bottom: 2.604166666666667vw;
}
@media (max-width: 750px) {
  .comment__items {
    margin-top: 9.375vw;
    margin-bottom: 9.375vw;
  }
}
@media (max-width: 750px) {
  .comment__items--popup {
    margin-bottom: 0;
  }
}
.comment__item {
  display: inline-block;
  width: 33%;
  position: relative;
}
.comment__item:focus {
  outline: none;
}
@media (max-width: 750px) {
  .comment__item {
    display: block;
    width: 100%;
  }
}
.comment__item-img img {
  width: 48%;
  height: 12.8125vw;
  display: inline-block;
}
@media (max-width: 750px) {
  .comment__item-img img {
    width: 29.6875vw;
    height: 38.4375vw;
  }
}
.comment__item-kg {
  width: 4.322916666666667vw;
  height: 4.322916666666667vw;
  line-height: 4.5;
  border: 4px solid #fff;
  background-color: #f94372;
  border-radius: 50%;
  color: #fff;
  font-family: Circe;
  font-size: 0.9375vw;
  font-weight: 700;
  position: absolute;
  top: 10%;
  left: 15%;
}
@media (max-width: 750px) {
  .comment__item-kg {
    width: 12.96875vw;
    height: 12.96875vw;
    font-size: 2.8125vw;
  }
}
@media (max-width: 750px) {
  .comment__item--popup {
    display: none;
  }
}
@media (max-width: 750px) {
  .comment__item--popup:nth-child(1) {
    display: block;
  }
}
.comment__text {
  color: #373737;
  font-family: Circe;
  font-size: 1.197916666666667vw;
  font-weight: 700;
  margin-top: 1.5625vw;
  margin-bottom: 1.041666666666667vw;
}
@media (max-width: 750px) {
  .comment__text {
    font-size: 3.59375vw;
    margin-top: 3.90625vw;
    margin-bottom: 2.65625vw;
  }
}
.comment__link {
  color: #2a8bdf;
  font-family: "Gotham Pro";
  font-size: 0.885416666666667vw;
  font-weight: 400;
  text-decoration: none;
  margin-top: 0.885416666666667vw;
}
@media (max-width: 750px) {
  .comment__link {
    font-size: 2.65625vw;
  }
}
.purchase {
  margin-top: -2.604166666666667vw;
}
@media (max-width: 750px) {
  .purchase__title {
    display: block;
    margin-top: 0;
  }
}
.purchase__subtitle {
  color: #555f73;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 700;
  margin-top: 2.34375vw;
}
@media (max-width: 750px) {
  .purchase__subtitle {
    font-size: 3.90625vw;
  }
}
.purchase-items {
  margin-top: 5.208333333333334vw;
}
.purchase-item {
  display: inline-block;
  width: 19.791666666666668vw;
  vertical-align: top;
}
@media (max-width: 750px) {
  .purchase-item {
    width: 100%;
  }
}
.purchase-item:nth-child(2) {
  margin: 0 1.041666666666667vw;
}
@media (max-width: 750px) {
  .purchase-item:nth-child(2) {
    margin: 6.25vw 0;
  }
}
.purchase-item--opened {
  padding: 0.364583333333333vw;
  border-radius: 10px;
  box-shadow: 0 46px 163px 9px rgba(0,0,0,0.17);
}
.purchase-item__img img {
  width: 100%;
}
.purchase-item--hide {
  padding: 0.364583333333333vw;
}
.purchase-item__text {
  margin-top: 1.041666666666667vw;
  margin-bottom: 0.78125vw;
  font-family: Circe;
  font-size: 1.25vw;
  font-weight: 700;
  color: #555f73;
  line-height: 1.2;
}
@media (max-width: 750px) {
  .purchase-item__text {
    width: 60%;
    margin-top: 6.25vw;
    font-size: 3.90625vw;
  }
}
.purchase-item__link {
  font-family: Circe;
  font-size: 1.25vw;
  font-weight: 700;
  color: #7e79e6;
  text-decoration: none;
}
@media (max-width: 750px) {
  .purchase-item__link {
    font-size: 3.90625vw;
  }
}
/*POPUPS*/
.js-popup {
  display: none;
}
.popup {
  border-radius: 10px;
  box-shadow: 0 81px 59px rgba(0,0,0,0.27);
  background-color: #fff;
  position: relative;
  width: 39.583333333333336vw;
}
@media (max-width: 750px) {
  .popup {
    width: 96.09375vw;
    max-width: 100%;
  }
}
.popup--comments {
  width: 62.5vw;
  padding: 3.385416666666667vw 3.645833333333333vw;
  text-align: center;
}
@media (max-width: 750px) {
  .popup--comments {
    width: 96.09375vw;
    padding-top: 9.375vw;
  }
}
.popup--comments .popup__title {
  color: #313131;
  font-family: "Gotham Pro";
  font-size: 1.354166666666667vw;
  font-weight: 700;
  margin-bottom: 1.822916666666667vw;
}
@media (max-width: 750px) {
  .popup--comments .popup__title {
    font-size: 4.0625vw;
  }
}
.popup--level .popup-content {
  padding: 1.5625vw 2.604166666666667vw 2.604166666666667vw;
}
.popup--level .popup-content__right {
  padding-left: 2.604166666666667vw;
}
.popup--level .popup-content__img {
  margin-top: 2.604166666666667vw;
}
@media (max-width: 750px) {
  .popup--level .popup-content {
    padding: 4.6875vw 7.8125vw 7.8125vw;
  }
  .popup--level .popup-content__right {
    padding-left: 0;
    text-align: center;
  }
  .popup--level .popup-content__img img {
    float: none;
    max-width: 80%;
    margin: 0 auto 6.25vw;
  }
}
.popup-close {
  width: 0.9375vw;
  height: 0.989583333333333vw;
  background-image: url("../images/close-popup.png");
  position: absolute;
  background-size: cover;
  top: 1.041666666666667vw;
  right: 1.197916666666667vw;
  cursor: pointer;
}
@media (max-width: 750px) {
  .popup-close {
    width: 5.625vw;
    height: 5.9375vw;
    top: 1.5625vw;
    right: 3.59375vw;
  }
}
.popup-head {
  background-color: #e8ebfc;
  text-align: center;
  padding: 1.5625vw 0 2.083333333333333vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (max-width: 750px) {
  .popup-head {
    padding: 6.25vw 1.5625vw;
  }
}
.popup__title {
  font-family: "Gotham Pro";
  font-weight: 300;
  color: #f451b2;
  font-size: 2.5vw;
}
@media (max-width: 750px) {
  .popup__title {
    font-size: 7.5vw;
  }
}
.popup__subtitle {
  font-family: "Gotham Pro";
  font-weight: 300;
  color: #1f1f1f;
  font-size: 1.875vw;
}
@media (max-width: 750px) {
  .popup__subtitle {
    font-size: 5.625vw;
    margin-top: 2.34375vw;
  }
}
.popup-content {
  padding: 1.5625vw 5.208333333333334vw 2.604166666666667vw;
  text-align: center;
}
@media (max-width: 750px) {
  .popup-content {
    padding: 4.6875vw 3.125vw 7.8125vw;
  }
}
.popup-content--share {
  padding-left: 2.34375vw;
}
.popup-content__next-task {
  color: #1f1f1f;
  font-family: "Gotham Pro";
  font-size: 1.875vw;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1.5625vw;
}
@media (max-width: 750px) {
  .popup-content__next-task {
    font-size: 5.625vw;
    margin-bottom: 4.6875vw;
  }
}
.popup-content__img img {
  max-width: 100%;
  float: left;
}
.popup-content__img--share img {
  width: 6.40625vw;
  height: 6.40625vw;
  margin-top: 1.302083333333333vw;
}
@media (max-width: 750px) {
  .popup-content__img--share img {
    width: 19.21875vw;
    height: 19.21875vw;
  }
}
.popup-content__right {
  text-align: left;
  padding-left: 4.6875vw;
  padding-top: 1.041666666666667vw;
  box-sizing: border-box;
}
@media (max-width: 750px) {
  .popup-content__right {
    padding-left: 14.0625vw;
  }
}
.popup-content__right--share {
  padding-top: 0;
  padding-left: 9.114583333333334vw;
}
@media (max-width: 750px) {
  .popup-content__right--share {
    padding-left: 27.34375vw;
  }
}
.popup-content__title {
  color: #f451b2;
  font-family: Circe;
  font-size: 2.5vw;
  font-weight: 200;
}
@media (max-width: 750px) {
  .popup-content__title {
    font-size: 7.5vw;
  }
}
.popup-content__text {
  margin-top: 1.5625vw;
  margin-bottom: 2.083333333333333vw;
  color: #555f73;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 750px) {
  .popup-content__text {
    font-size: 3.4375vw;
    margin-top: 4.6875vw;
    margin-bottom: 6.25vw;
  }
  .popup-content__text br {
    display: none;
  }
}
.popup-content__text--orange {
  color: #ff8022;
  font-size: 1.875vw;
}
@media (max-width: 750px) {
  .popup-content__text--orange {
    font-size: 5.625vw;
  }
}
.popup-content__text--share {
  margin: 0;
}
.popup-content__text--share-mid {
  margin-top: 1.302083333333333vw;
  margin-bottom: 0;
  font-weight: 700;
}
.popup__link {
  width: 2.604166666666667vw;
  height: 2.604166666666667vw;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
}
@media (max-width: 750px) {
  .popup__link {
    width: 7.8125vw;
    height: 7.8125vw;
  }
}
.popup__link--vk {
  background-image: url("../images/vk-popup.png");
}
.popup__link--fb {
  background-image: url("../images/facebook-popup.png");
}
.popup__social {
  margin-top: 0.78125vw;
}
.private {
  margin-top: -5.208333333333334vw;
}
@media (max-width: 750px) {
  .private {
    margin-top: 1.5625vw;
  }
}
@media (max-width: 750px) {
  .private-top {
    margin-bottom: 8.59375vw;
  }
}
.private-top-desc {
  float: left;
  padding-top: 1.822916666666667vw;
  margin-right: 2.604166666666667vw;
}
@media (max-width: 750px) {
  .private-top-desc {
    margin-right: 9.375vw;
    margin-top: 5vw;
  }
}
.private-top__text {
  color: #555f73;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 700;
  margin-bottom: 0.520833333333333vw;
}
@media (max-width: 750px) {
  .private-top__text {
    font-size: 4.0625vw;
  }
}
.private-top__link {
  color: #6378ed;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 400;
  text-decoration: none;
}
@media (max-width: 750px) {
  .private-top__link {
    font-size: 4.0625vw;
  }
}
@media (max-width: 750px) {
  .private-avatar {
    margin-bottom: 5vw;
  }
}
.private-avatar__add {
  width: 6.666666666666667vw;
  height: 6.666666666666667vw;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 1px dashed #303030;
  background-color: #e8e8e8;
}
@media (max-width: 750px) {
  .private-avatar__add {
    width: 20vw;
    height: 20vw;
  }
}
.private-avatar__add:after {
  content: ' ';
  width: 3.28125vw;
  height: 3.28125vw;
  background-image: url("../images/add_photo.png");
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 750px) {
  .private-avatar__add:after {
    width: 9.84375vw;
    height: 9.84375vw;
  }
}
.private-avatar__img {
  width: 6.770833333333334vw;
  height: 6.770833333333334vw;
}
@media (max-width: 750px) {
  .private-avatar__img {
    width: 19.375vw;
    height: 19.375vw;
  }
}
.private-award {
  display: inline-block;
}
@media (max-width: 750px) {
  .private-award {
    margin-left: 12.03125vw;
  }
}
.private-awards img {
  width: 6.770833333333334vw;
  height: 6.770833333333334vw;
  float: left;
}
@media (max-width: 750px) {
  .private-awards img {
    width: 19.375vw;
    height: 19.375vw;
    margin-bottom: 2.65625vw;
  }
}
.private-awards__name {
  color: #363434;
  font-family: "Gotham Pro";
  font-size: 0.9375vw;
  font-weight: 700;
  display: inline-block;
  margin-top: 2.604166666666667vw;
  margin-left: 1.822916666666667vw;
}
@media (max-width: 750px) {
  .private-awards__name {
    font-size: 2.8125vw;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-left: -0.9375vw;
  }
}
.private-awards__name br {
  display: none;
}
@media (max-width: 750px) {
  .private-types {
    margin-top: 4.21875vw;
  }
}
.private-types:after {
  content: ' ';
  width: 100%;
  height: 5px;
  opacity: 0.14;
  background-color: #ff8094;
  display: block;
}
.private-type {
  background-repeat: no-repeat;
  background-position-x: 14.583333333333334vw;
  background-position-y: bottom;
  padding: 2.083333333333333vw 5.729166666666667vw 8.072916666666668vw 0;
  box-sizing: border-box;
  background-size: 5.989583333333334vw 10.520833333333334vw;
  position: relative;
}
@media (max-width: 750px) {
  .private-type {
    background-size: 14.0625vw 24.53125vw;
    background-position: bottom right;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.private-type__title {
  display: block;
  margin-bottom: 0.520833333333333vw;
  font-size: 2.5vw;
}
@media (max-width: 750px) {
  .private-type__title {
    margin-bottom: 3.125vw;
    font-size: 8.4375vw;
  }
}
.private-type__text {
  margin-bottom: 1.041666666666667vw;
}
@media (max-width: 750px) {
  .private-type__text {
    margin-bottom: 4.6875vw;
    padding-right: 21.875vw;
  }
}
.private-type--figure {
  background-image: url("../images/apple-2.png");
}
.private-type--body {
  background-image: url("../images/body.png");
  margin-bottom: 2.604166666666667vw;
  background-position-x: 21.875vw;
}
@media (max-width: 750px) {
  .private-type--body {
    margin-top: 6.25vw;
    padding-bottom: 4.6875vw;
    padding-right: 0;
    margin-bottom: 6.25vw;
    background-position-x: 72.65625vw;
  }
}
.private-type__desc {
  color: #555f73;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 700;
  position: absolute;
}
@media (max-width: 750px) {
  .private-type__desc {
    font-size: 3.4375vw;
  }
}
.private-type__desc--figure {
  bottom: -1.5625vw;
  right: 11.458333333333334vw;
}
@media (max-width: 750px) {
  .private-type__desc--figure {
    bottom: 0;
    right: 1.5625vw;
  }
}
.private-type__desc--body {
  bottom: -1.5625vw;
  right: 3.489583333333333vw;
}
@media (max-width: 750px) {
  .private-type__desc--body {
    bottom: -4.6875vw;
    right: 0;
  }
}
.private__text {
  margin-top: 2.083333333333333vw;
  width: 55%;
}
@media (max-width: 750px) {
  .private__text {
    width: 100%;
  }
}
.private-sizes {
  position: relative;
}
.sizes {
  margin-top: 0.78125vw;
  position: relative;
}
@media (max-width: 750px) {
  .sizes {
    margin: 0;
  }
}
.sizes-right {
  padding-top: 2.864583333333333vw;
}
.sizes__text {
  margin-top: 2.083333333333333vw;
  margin-bottom: 0.9375vw;
}
@media (max-width: 750px) {
  .sizes__text {
    width: 100%;
    margin-top: 6.25vw;
    margin-bottom: 5vw;
  }
}
.size {
  margin-bottom: 2.34375vw;
}
@media (max-width: 750px) {
  .size {
    margin-bottom: 7.8125vw;
  }
}
.size__text {
  color: #555f73;
  font-family: Circe;
  font-weight: 700;
  font-size: 1.145833333333333vw;
  display: inline-block;
}
@media (max-width: 750px) {
  .size__text {
    font-size: 3.90625vw;
  }
}
.size-article {
  margin-top: 4.166666666666667vw;
  text-align: left;
  padding: 3.645833333333333vw 3.125vw;
}
.size__form {
  margin-top: 3.125vw;
}
@media (max-width: 750px) {
  .size__form {
    margin-top: 7.8125vw;
  }
}
.old-sizes {
  margin-top: 2.34375vw;
  margin-bottom: 2.604166666666667vw;
  text-align: center;
}
.old-sizes:before {
  content: ' ';
  width: 100%;
  height: 5px;
  opacity: 0.14;
  background-color: #ff8094;
  display: block;
  margin-bottom: 2.604166666666667vw;
}
@media (max-width: 750px) {
  .old-sizes:before {
    display: none;
  }
}
.size-remark {
  box-shadow: 0 2.395833333333333vw 8.489583333333334vw 0.46875vw rgba(0,0,0,0.17);
  border-radius: 10px;
  display: inline-block;
  padding: 1.5625vw 1.041666666666667vw;
  text-align: left;
}
.size-remark:nth-child(2) {
  margin: 0 4.6875vw;
}
@media (max-width: 750px) {
  .size-remark:nth-child(2) {
    margin: 7.8125vw 0;
  }
}
@media (max-width: 750px) {
  .size-remark {
    padding: 4.6875vw 3.125vw;
    display: block;
    margin-top: 1.5625vw;
  }
}
.size-remark__text {
  margin-bottom: 1.40625vw;
}
@media (max-width: 750px) {
  .size-remark__text {
    font-size: 5.78125vw;
    margin-bottom: 7.03125vw;
  }
}
.green {
  background-color: #8fb500;
  padding: 2.604166666666667vw 0;
  text-align: center;
  margin-top: 1.041666666666667vw;
  box-sizing: border-box;
  position: relative;
  margin-top: 4.6875vw;
}
@media (max-width: 750px) {
  .green {
    width: 94.0625vw;
    margin-left: -4.21875vw;
    padding: 4.6875vw 0;
  }
}
.green:after {
  content: ' ';
  background-image: url("../images/bg-green.png");
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  width: 12.760416666666668vw;
  height: 17.708333333333336vw;
  left: 0;
  top: 0.677083333333333vw;
  z-index: 1;
}
@media (max-width: 750px) {
  .green:after {
    width: 25vw;
    height: 37.5vw;
    top: 12.1875vw;
  }
}
.green__text {
  color: #fff;
  font-family: Circe;
  font-size: 1.302083333333333vw;
  font-weight: 300;
  margin-bottom: 1.927083333333333vw;
  line-height: 1.3;
}
@media (max-width: 750px) {
  .green__text {
    font-size: 3.59375vw;
    font-weight: 700;
    padding: 0 12.5vw;
  }
}
.points-article {
  margin-top: 8.4375vw;
  padding-left: 10.9375vw;
  padding-right: 8.333333333333334vw;
  background-image: url("../images/medal.png");
  background-size: 8.854166666666668vw 8.854166666666668vw;
  background-repeat: no-repeat;
  background-position: center left;
}
@media (max-width: 750px) {
  .points-article {
    background-position: top left;
    background-size: 21.875vw 21.875vw;
    padding-left: 26.5625vw;
    padding-right: 0;
  }
}
.points-article__title {
  color: #313131;
  font-family: "Gotham Pro";
  font-size: 1.666666666666667vw;
  font-weight: 300;
  display: inline-block;
}
.points-article__title:after {
  content: ' ';
  width: 100%;
  height: 0.104166666666667vw;
  background-color: #8fb500;
  display: block;
  margin-top: 0.520833333333333vw;
}
@media (max-width: 750px) {
  .points-article__title:after {
    height: 0.3125vw;
    margin-top: 1.5625vw;
  }
}
@media (max-width: 750px) {
  .points-article__title {
    font-size: 5vw;
  }
}
.points-article__text {
  margin-top: 1.5625vw;
}
@media (max-width: 750px) {
  .points-article__text {
    margin-top: 4.6875vw;
  }
}
.tasks {
  margin-top: 4.6875vw;
}
@media (max-width: 750px) {
  .tasks {
    text-align: center;
  }
}
.tasks:before,
.tasks:after {
  content: ' ';
  width: 100%;
  height: 0.260416666666667vw;
  background-color: #ff8094;
  opacity: 0.14;
  display: block;
}
@media (max-width: 750px) {
  .tasks:before,
  .tasks:after {
    height: 0.78125vw;
  }
}
.tasks:before {
  margin-bottom: 2.083333333333333vw;
}
@media (max-width: 750px) {
  .tasks:before {
    margin-bottom: 8.59375vw;
  }
}
.tasks:after {
  margin-top: 2.395833333333333vw;
}
@media (max-width: 750px) {
  .tasks:after {
    margin-top: 8.59375vw;
  }
}
.tasks__title {
  color: #313131;
  font-family: "Gotham Pro";
  font-size: 1.354166666666667vw;
  font-weight: 700;
}
@media (max-width: 750px) {
  .tasks__title {
    font-size: 5vw;
  }
}
.tasks__items {
  margin-top: 1.71875vw;
}
@media (max-width: 750px) {
  .tasks__items {
    margin-top: 6.25vw;
  }
}
.tasks__item {
  display: inline-block;
  max-width: 16.666666666666668vw;
  vertical-align: top;
}
@media (max-width: 750px) {
  .tasks__item {
    max-width: 100%;
    display: block;
  }
}
.tasks__item:nth-child(2) {
  margin: 0 5.885416666666667vw;
}
@media (max-width: 750px) {
  .tasks__item:nth-child(2) {
    margin: 7.8125vw 0;
  }
}
.tasks__img img {
  width: 100%;
}
.tasks__text {
  margin-top: 1.5625vw;
  margin-bottom: 0.78125vw;
  color: #555f73;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 400;
  line-height: 1.2;
  height: 2.604166666666667vw;
}
@media (max-width: 750px) {
  .tasks__text {
    font-size: 4.375vw;
    margin-top: 5vw;
    margin-bottom: 4.6875vw;
  }
}
.marks {
  text-align: center;
  margin-top: 1.5625vw;
}
@media (max-width: 750px) {
  .marks {
    margin-top: 8.59375vw;
  }
}
.marks__text {
  color: #555f73;
  font-family: Circe;
  font-size: 1.197916666666667vw;
  font-weight: 700;
  margin-bottom: 1.822916666666667vw;
  line-height: 1.3;
}
@media (max-width: 750px) {
  .marks__text {
    font-size: 4.6875vw;
    line-height: 1;
    margin-bottom: 5.46875vw;
  }
}
.marks__items {
  margin-bottom: 1.5625vw;
}
@media (max-width: 750px) {
  .marks__items {
    margin-bottom: 9.375vw;
  }
}
.marks__item {
  display: inline-block;
}
.marks__item:nth-child(2) {
  margin: 0 5.885416666666667vw;
}
@media (max-width: 750px) {
  .marks__item:nth-child(2) {
    margin: 5.46875vw 0;
  }
}
.marks__img {
  width: 6.40625vw;
  height: 6.40625vw;
  float: left;
}
@media (max-width: 750px) {
  .marks__img {
    width: 20.3125vw;
    height: 20.3125vw;
  }
}
.marks__desc {
  margin-top: 2.083333333333333vw;
  display: inline-block;
  margin-left: 1.822916666666667vw;
  text-align: left;
}
@media (max-width: 750px) {
  .marks__desc {
    margin-left: 7.8125vw;
  }
}
.marks__name {
  font-family: "Gotham Pro";
  font-size: 0.9375vw;
  color: #363434;
  font-weight: 700;
  display: block;
  line-height: 1.6;
}
@media (max-width: 750px) {
  .marks__name {
    font-size: 4.0625vw;
    line-height: 1.2;
  }
}
.marks__link {
  font-family: "Gotham Pro";
  font-size: 0.9375vw;
  color: #6378ed;
  font-weight: 500;
  text-decoration: none;
}
@media (max-width: 750px) {
  .marks__link {
    font-size: 4.0625vw;
    font-weight: 500;
  }
}
.marafon {
  width: 74.47916666666667vw;
  margin-left: -6.25vw;
  text-align: center;
  background-color: #f7f7f7;
  margin-top: 2.604166666666667vw;
  padding-top: 2.34375vw;
}
@media (max-width: 750px) {
  .marafon {
    width: 87.5vw;
    margin-left: -0.364583333333333vw;
    margin-top: 10.15625vw;
    padding-top: 8.90625vw;
  }
}
.marafon__text {
  color: #555f73;
  font-family: Circe;
  font-size: 1.197916666666667vw;
  font-weight: 700;
  line-height: 1.3;
}
@media (max-width: 750px) {
  .marafon__text {
    font-size: 4.375vw;
    font-weight: 700;
    padding: 0 2.34375vw;
  }
}
.marafon__title {
  margin: 2.083333333333333vw 0;
}
@media (max-width: 750px) {
  .marafon__title {
    margin: 6.25vw 0 7.03125vw;
  }
}
.marafon-contain__item {
  display: inline-block;
  max-width: 11.71875vw;
  vertical-align: top;
  margin: 0 2.604166666666667vw;
}
@media (max-width: 750px) {
  .marafon-contain__item {
    max-width: 35.15625vw;
    margin-bottom: 7.8125vw;
  }
}
.marafon-contain__img {
  border-radius: 10px;
  background-color: #e1e4f5;
  padding: 3.125vw 3.645833333333333vw;
}
@media (max-width: 750px) {
  .marafon-contain__img {
    padding: 9.375vw 12.5vw;
  }
}
.marafon-contain__img img {
  max-width: 100%;
  height: 3.90625vw;
}
@media (max-width: 750px) {
  .marafon-contain__img img {
    height: 10.9375vw;
  }
}
.marafon-contain__text {
  color: #555f73;
  font-family: Circe;
  font-size: 1.041666666666667vw;
  font-weight: 700;
  margin-top: 1.302083333333333vw;
}
@media (max-width: 750px) {
  .marafon-contain__text {
    font-size: 4.21875vw;
    margin-top: 3.90625vw;
  }
}
.marafons {
  padding-bottom: 4.166666666666667vw;
}
.marafons__item {
  display: inline-block;
  max-width: 29.166666666666668vw;
  margin: 0 1.822916666666667vw;
}
@media (max-width: 750px) {
  .marafons__item {
    max-width: 100%;
  }
}
.marafons__img {
  position: relative;
}
.marafons__img img {
  width: 100%;
  border-radius: 10px;
}
.marafons__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Gotham Pro";
  font-size: 1.927083333333333vw;
  font-weight: 400;
}
@media (max-width: 750px) {
  .marafons__name {
    font-size: 7.5vw;
  }
}
.articles2 {
  margin-top: 3.125vw;
}
@media (max-width: 750px) {
  .articles2 {
    display: none;
  }
}
.articles2__items {
  margin-top: 1.822916666666667vw;
}
.articles2__item {
  display: inline-block;
  width: 16.666666666666668vw;
  vertical-align: top;
}
.articles2__item:nth-child(2) {
  margin: 0 5.885416666666667vw;
}
.articles2__img img {
  width: 100%;
}
.articles2__text {
  margin-top: 1.302083333333333vw;
  color: #555f73;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 400;
  line-height: 1.2;
}
.test {
  margin-top: 1.5625vw;
}
.test:before {
  content: ' ';
  width: 100%;
  height: 0.260416666666667vw;
  background-color: #ff8094;
  opacity: 0.14;
  display: block;
  margin-bottom: 2.5vw;
}
@media (max-width: 750px) {
  .test:before {
    height: 0.78125vw;
  }
}
.test-img {
  box-sizing: border-box;
  padding-right: 5.208333333333334vw;
}
.test-img img {
  width: 100%;
}
.test-answers__title {
  margin-bottom: 0.885416666666667vw;
}
@media (max-width: 750px) {
  .test-answers__title {
    margin-bottom: 5.3125vw;
  }
}
.test-answers__subtitle {
  margin-bottom: 1.302083333333333vw;
}
@media (max-width: 750px) {
  .test-answers__subtitle {
    margin-bottom: 5.46875vw;
  }
}
.test-answers__text {
  color: #555f73;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 700;
}
@media (max-width: 750px) {
  .test-answers__text {
    font-size: 5.625vw;
  }
}
.test-form {
  position: relative;
  margin-top: 1.5625vw;
}
@media (max-width: 750px) {
  .test-form {
    margin-top: 7.8125vw;
  }
}
.test-item {
  margin-bottom: 2.447916666666667vw;
}
@media (max-width: 750px) {
  .test-item {
    margin-bottom: 12.1875vw;
  }
}
.test-item__text {
  display: inline-block;
}
.test-result {
  left: 2.65625vw;
}
.scanner-result:before {
  content: ' ';
  width: 100%;
  height: 0.260416666666667vw;
  background-color: #ff8094;
  opacity: 0.14;
  display: block;
  margin: 2.864583333333333vw 0;
}
@media (max-width: 750px) {
  .scanner-result:before {
    margin: 4.6875vw 0;
  }
}
.scanner-result__text {
  padding-right: 10.416666666666668vw;
  box-sizing: border-box;
}
.scanner-prize__title {
  font-family: "Gotham Pro";
  font-size: 1.666666666666667vw;
  color: #313131;
  line-height: 1.5;
}
@media (max-width: 750px) {
  .scanner-prize__title {
    font-size: 4.375vw;
  }
}
.scanner-img {
  float: right;
  margin-top: -5.208333333333334vw;
  text-align: center;
}
@media (max-width: 750px) {
  .scanner-img {
    margin-bottom: 9.375vw;
  }
}
.scanner-img img {
  width: 100%;
}
@media (max-width: 750px) {
  .scanner-img img {
    max-width: 39.0625vw;
  }
}
.scanner-content {
  margin-top: 2.083333333333333vw;
}
@media (max-width: 750px) {
  .scanner-content {
    margin-top: 11.71875vw;
  }
}
@media (max-width: 750px) {
  .scanner-share {
    margin-top: 4.6875vw;
  }
}
.scanner-share__text {
  color: #363434;
  font-family: "Gotham Pro";
  font-size: 0.9375vw;
  font-weight: 700;
}
@media (max-width: 750px) {
  .scanner-share__text {
    font-size: 4.0625vw;
    line-height: 1.2;
    margin-bottom: 8.75vw;
  }
}
.social {
  display: inline-block;
  margin-left: 3.645833333333333vw;
}
@media (max-width: 750px) {
  .social {
    margin-top: 7.34375vw;
  }
}
.social__text {
  color: #555f73;
  font-family: Circe;
  font-size: 1.145833333333333vw;
  font-weight: 400;
  margin-right: 0.78125vw;
}
@media (max-width: 750px) {
  .social__text {
    font-size: 5.625vw;
  }
}
.social__items {
  display: inline-block;
  margin-top: 0.78125vw;
  position: relative;
  top: 0.78125vw;
}
.social__items +mobile {
  top: 1.875vw;
}
.social__item {
  display: inline-block;
}
.social__item img {
  max-width: 100%;
}
@media (max-width: 750px) {
  .social__item img {
    max-width: 10.9375vw;
  }
}
.youtube-link2 {
  background-color: #ebeff7;
  width: 22.395833333333336vw;
  display: block;
  padding: 9.375vw 0 9.375vw;
  position: relative;
}
@media (max-width: 750px) {
  .youtube-link2 {
    width: 82.8125vw;
    padding: 26.5625vw 0 28.125vw;
    margin-top: 3.90625vw;
  }
}
.youtube-link2:before {
  content: ' ';
  width: 8.854166666666668vw;
  height: 33.85416666666667vw;
  background-image: url("../images/girl_only.png");
  background-size: cover;
  position: absolute;
  top: -5.729166666666667vw;
  left: 3.75vw;
  z-index: 3;
}
@media (max-width: 750px) {
  .youtube-link2:before {
    width: 22.65625vw;
    height: 86.71875vw;
  }
}
.youtube-link2 img {
  max-width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 4;
}
@media (max-width: 750px) {
  .youtube-link2 img {
    max-width: 14.84375vw;
  }
}
.contests__title {
  color: #313131;
  font-family: "Gotham Pro";
  font-size: 1.666666666666667vw;
  font-weight: 300;
}
@media (max-width: 750px) {
  .contests__title {
    font-size: 4.0625vw;
  }
}
.mark {
  display: inline-block;
}
.mark img {
  max-width: 100%;
}
.mark-desc {
  display: inline-block;
  position: relative;
  top: -1.822916666666667vw;
}
@media (max-width: 750px) {
  .mark-desc {
    top: -5.46875vw;
  }
}
.mark__name {
  font-family: "Gotham Pro";
  font-size: 0.9375vw;
  color: #363434;
  font-weight: 700;
  display: block;
}
@media (max-width: 750px) {
  .mark__name {
    font-size: 2.8125vw;
  }
}
.mark__link {
  font-family: "Gotham Pro";
  font-size: 0.9375vw;
  color: #6378ed;
  font-weight: 500;
  display: block;
  text-decoration: none;
}
@media (max-width: 750px) {
  .mark__link {
    font-size: 2.8125vw;
  }
}
.badge {
  margin-top: 2.083333333333333vw;
  margin-bottom: 3.90625vw;
}
.badge img {
  max-width: 100%;
}
.badge__name {
  color: #363434;
  font-family: "Gotham Pro";
  font-size: 0.9375vw;
  font-weight: 700;
  display: block;
  margin-top: 1.302083333333333vw;
}
@media (max-width: 750px) {
  .badge__name {
    font-size: 3.59375vw;
  }
}
.contest:before {
  content: ' ';
  width: 100%;
  height: 5px;
  background-color: #ff8094;
  opacity: 0.14;
  display: block;
  margin-top: 1.302083333333333vw;
  margin-bottom: 1.5625vw;
}
@media (max-width: 750px) {
  .contest:before {
    margin-left: 4.6875vw 0;
  }
}
.contest__name {
  color: #555f73;
  font-family: Circe;
  font-size: 1.5625vw;
  font-weight: 700;
}
@media (max-width: 750px) {
  .contest__name {
    font-size: 4.6875vw;
  }
}
.contest-desc {
  border-radius: 10px;
  padding-left: 2.083333333333333vw;
  background-color: #e8ebfc;
  box-sizing: border-box;
  margin-top: 1.041666666666667vw;
}
@media (max-width: 750px) {
  .contest-desc {
    margin-top: 7.8125vw;
  }
}
.contest-condition {
  float: left;
  margin-right: 3.645833333333333vw;
  margin-top: 1.354166666666667vw;
}
.contest-condition__text {
  display: block;
  font-weight: 700;
}
.contest-marks {
  margin-top: 0.520833333333333vw;
  display: inline-block;
}
.contest-content {
  margin-top: 1.5625vw;
}
.contest-img {
  padding: 2.604166666666667vw;
  box-sizing: border-box;
}
.contest-article {
  padding-top: 4.947916666666667vw;
}
.contest-awards {
  text-align: center;
}
.contest-awards__title {
  color: #242424;
  font-family: "Gotham Pro";
  font-size: 2.5vw;
  font-weight: 300;
}
@media (max-width: 750px) {
  .contest-awards__title {
    font-size: 7.5vw;
  }
}
.contest-img img {
  width: 100%;
}
.contest-prize__img {
  padding-top: 1.822916666666667vw;
  box-sizing: border-box;
}
@media (max-width: 750px) {
  .contest-prize__img {
    padding-top: 6.25vw;
  }
}
.contest-prize__img img {
  width: 100%;
}
.contest-points__count {
  margin-top: 3.645833333333333vw;
  display: block;
  color: #7e79e6;
  font-family: "Gotham Pro";
  font-size: 4.166666666666667vw;
  font-weight: 300;
}
@media (max-width: 750px) {
  .contest-points__count {
    font-size: 12.5vw;
    margin-top: 6.25vw;
  }
}
.contest__subtitle {
  color: #555f73;
  font-family: Circe;
  font-size: 1.25vw;
  font-weight: 700;
}
@media (max-width: 750px) {
  .contest__subtitle {
    font-size: 4.375vw;
  }
}
.contest-task__short {
  font-family: Circe;
  font-size: 1.145833333333333vw;
  color: #8fb500;
  font-weight: 700;
}
@media (max-width: 750px) {
  .contest-task__short {
    font-size: 4.6875vw;
  }
}
.add-photo {
  width: 14.84375vw;
  height: 14.84375vw;
  background-color: #7e79e6;
  border-radius: 10px;
  display: block;
  position: relative;
}
@media (max-width: 750px) {
  .add-photo {
    width: 44.6875vw;
    height: 44.6875vw;
    margin: 0 auto;
  }
}
.add-photo:before {
  content: ' ';
  width: 4.322916666666667vw;
  height: 4.322916666666667vw;
  background-image: url("../images/addphoto.png");
  background-size: cover;
  display: block;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
}
@media (max-width: 750px) {
  .add-photo:before {
    width: 12.96875vw;
    height: 12.96875vw;
  }
}
.add-photo:after {
  content: 'Добавить фото';
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: "Gotham Pro";
  font-size: 1.145833333333333vw;
  font-weight: 700;
  display: block;
  position: absolute;
  bottom: 20%;
}
@media (max-width: 750px) {
  .add-photo:after {
    font-size: 3.4375vw;
  }
}
.radio-block {
  border-radius: 10px;
  background-color: #f5f2fa;
  display: inline-block;
}
.radio {
  line-height: 3.90625vw;
  font-size: 1.145833333333333vw;
  font-weight: 500;
  color: #5c6483;
  padding: 0 2.604166666666667vw;
  display: inline-block;
  text-decoration: none;
  font-family: "Gotham Pro";
}
@media (max-width: 750px) {
  .radio {
    font-size: 4.6875vw;
    padding: 0 8.59375vw;
    line-height: 11.71875vw;
  }
}
.radio--active {
  background-color: #8883e8;
  color: #fff;
  border-radius: 10px;
}
.textarea {
  width: 100%;
  height: 14.583333333333334vw;
  border-radius: 10px;
  background-color: rgba(222,222,222,0.4);
  border: none;
}
@media (max-width: 750px) {
  .textarea {
    height: 44.53125vw;
  }
}
