html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
@font-face {
    font-family: 'Circe';
    src: url("../fonts/Circe-Regular.eot");
    src: url("../fonts/Circe-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe-Regular.woff") format('woff'), url("../fonts/Circe-Regular.ttf") format('truetype'), url("../fonts/Circe-Regular.svg#Circe") format('svg');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Circe';
    src: url("../fonts/Circe-Bold.eot");
    src: url("../fonts/Circe-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe-Bold.woff") format('woff'), url("../fonts/Circe-Bold.ttf") format('truetype'), url("../fonts/Circe-Bold.svg#Circe") format('svg');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Circe-ExtraLight';
    src: url("../fonts/Circe-ExtraLight.eot");
    src: url("../fonts/Circe-ExtraLight.eot?#iefix") format('embedded-opentype'), url("../fonts/Circe-ExtraLight.woff") format('woff'), url("../fonts/Circe-ExtraLight.ttf") format('truetype'), url("../fonts/Circe-ExtraLight.svg#Circe") format('svg');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url("../fonts/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamProRegular.woff") format('woff'), url("../fonts/GothamProRegular.ttf") format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url("../fonts/GothamProBold.eot");
    src: url("../fonts/GothamProBold.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamProBold.woff") format('woff'), url("../fonts/GothamProBold.ttf") format('truetype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url("../fonts/GothamProLight.eot");
    src: url("../fonts/GothamProLight.eot?#iefix") format('embedded-opentype'), url("../fonts/GothamProLight.woff") format('woff'), url("../fonts/GothamProLight.ttf") format('truetype');
    font-style: normal;
    font-weight: 200;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    font-size: 0.833333333333333vw;
    background-color: #fff;
    min-height: 100%;
    font-family: "Circe";
}
@media (max-width: 750px) {
    body {
        font-size: 2.5vw;
    }
}
a {
    text-decoration: none;
}
b {
    font-weight: 700;
}
a:focus,
button:focus {
    outline: none;
}
.col-1 {
    float: left;
    width: 8.333333333333332%;
}
@media (max-width: 750px) {
    .col-1 {
        width: 100%;
        float: none;
    }
}
.col-2 {
    float: left;
    width: 16.666666666666664%;
}
@media (max-width: 750px) {
    .col-2 {
        width: 100%;
        float: none;
    }
}
.col-3 {
    float: left;
    width: 25%;
}
@media (max-width: 750px) {
    .col-3 {
        width: 100%;
        float: none;
    }
}
.col-4 {
    float: left;
    width: 33.33333333333333%;
}
@media (max-width: 750px) {
    .col-4 {
        width: 100%;
        float: none;
    }
}
.col-5 {
    float: left;
    width: 41.66666666666667%;
}
@media (max-width: 750px) {
    .col-5 {
        width: 100%;
        float: none;
    }
}
.col-6 {
    float: left;
    width: 50%;
}
@media (max-width: 750px) {
    .col-6 {
        width: 100%;
        float: none;
    }
}
.col-7 {
    float: left;
    width: 58.333333333333336%;
}
@media (max-width: 750px) {
    .col-7 {
        width: 100%;
        float: none;
    }
}
.col-8 {
    float: left;
    width: 66.66666666666666%;
}
@media (max-width: 750px) {
    .col-8 {
        width: 100%;
        float: none;
    }
}
.col-9 {
    float: left;
    width: 75%;
}
@media (max-width: 750px) {
    .col-9 {
        width: 100%;
        float: none;
    }
}
.col-10 {
    float: left;
    width: 83.33333333333334%;
}
@media (max-width: 750px) {
    .col-10 {
        width: 100%;
        float: none;
    }
}
.col-11 {
    float: left;
    width: 91.66666666666666%;
}
@media (max-width: 750px) {
    .col-11 {
        width: 100%;
        float: none;
    }
}
.col-12 {
    float: left;
    width: 100%;
}
@media (max-width: 750px) {
    .col-12 {
        width: 100%;
        float: none;
    }
}
.title {
    color: #b82f80;
    font-size: 2.5vw;
    font-weight: 300;
}
@media (max-width: 750px) {
    .title {
        font-size: 7.5vw;
    }
}
.top {
    padding-top: 2.760416666666667vw;
    padding-bottom: 2.604166666666667vw;
    text-align: center;
}
@media (max-width: 750px) {
    .top {
        padding-top: 8.90625vw;
    }
}
.top__logo img {
    width: 10.677083333333334vw;
    height: 5.208333333333334vw;
    max-width: 100%;
}
@media (max-width: 750px) {
    .top__logo img {
        width: 42.8125vw;
        height: 18.75vw;
    }
}
.content {
    padding: 0 5.729166666666667vw;
}
@media (max-width: 750px) {
    .content {
        padding: 0 15px;
    }
}
.social {
    text-align: center;
}
.social-items {
    margin-top: 3.125vw;
    position: relative;
    z-index: 5;
}
@media (max-width: 750px) {
    .social-items {
        margin-top: 10.625vw;
    }
}
.social-item {
    display: inline-block;
    margin: 0 2.083333333333333vw;
}
.social-item a,
.social-item img {
    display: inline-block;
    max-width: 100%;
}
.social-item--vk a {
    display: inline-block;
}
.social-item--vk a{
    width: 2.6vw;
    height: 1.56vw
}
.social-item--fb a{
    width: 1.09vw;
    height: 2.185vw;
}
.social-item--mru a{
    width: 7.81vw;
    height: 2.03vw
}
.social-item--gl a{
    width: 8.02vw;
    height: 2.39vw
}
@media (max-width: 750px) {
    .social-items {
        font-size: 0;
    }
    .social-item {
        /*width: 25%;*/
        margin: 0;
        padding:0 10px;
        box-sizing: border-box;
    }
    .social-item--vk a{
        width: 6.5vw;
        height: 3.47vw
    }
    .social-item--vk {
        padding-right: 10vw;
    }
    .social-item--fb a{
        width: 2.53vw;
        height: 5.6vw;
    }
    .social-item--fb {
        padding-right: 10vw;
    }
    .social-item--mru a{
        width: 19vw;
        height: 3.73vw
    }
    .social-item--gl a{
        width: 17.33vw;
        height: 4.53vw
    }
    .social-item--gl {
        text-align: right;
    }
}
.registration {
    text-align: center;
    margin-top: 3.645833333333333vw;
    padding-bottom: 6.770833333333334vw;
}
@media (max-width: 750px) {
    .registration {
        padding-bottom: 11.09375vw;
        margin-top: 10.3125vw;
    }
}
.registration__title {
    color: #555f73;
    font-size: 1.666666666666667vw;
    font-weight: 700;
    margin-bottom: 2.34375vw;
}
@media (max-width: 750px) {
    .registration__title {
        font-size: 5.9375vw;
        margin-bottom: 6.25vw;
    }
}
.registration__rules {
    color: #000;
    font-family: "Gotham Pro";
    font-size: 0.753333333333333vw;
    font-weight: 400;
    margin: 1.822916666666667vw auto 0;
    line-height: 1.4;
    max-width: 25vw;
}
@media (max-width: 750px) {
    .registration__rules {
        font-size: 3.28125vw;
        position: relative;
        z-index: 100;
        margin-top: 7.1875vw;
        max-width: 100%;
    }
}
@media (max-width: 750px) {
    .registration-form {
        padding: 0 2.3vw;
    }
}
.registration-item {
    display: inline-block;
    vertical-align: top;
}
@media (max-width: 750px) {
    .registration-item {
        display: block;
    }
}
.registration-item:nth-child(2n) {
    margin: 0 0.78125vw;
}
@media (max-width: 750px) {
    .registration-item:nth-child(2n) {
        margin: 0;
    }
}
.btn {
    color: #fff;
    font-family: "Gotham Pro";
    font-size: 0.833333333333333vw;
    font-weight: 700;
    background-color: #f94372;
    box-shadow: 0 8px 16px rgba(0,0,0,0.13);
    cursor: pointer;
    border: none;
    text-decoration: none;
    border-radius: 1.5625vw;
}
.btn--registration {
    padding: 1.302083333333333vw 6.25vw;
    display: block;
    font-size: 1.041666666666667vw;
    margin: 0 auto;
    box-shadow: 0 0.9375vw 2.65625vw rgba(65,20,147,0.53);
    margin-top: 1.302083333333333vw;
    border-radius: 0;
}
@media (max-width: 750px) {
    .btn--registration {
        font-size: 4.6875vw;
        padding: 5.625vw 37.5vw;
        width: 100%;
        box-shadow: 0px 18px 51px 0px rgba(65, 20, 147, 0.53);

    }
}
.btn--girls {
    padding: 1.197916666666667vw 3.854166666666667vw;
    display: inline-block;
}
.btn--level {
    padding: 1.302083333333333vw 2.864583333333333vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
}
.btn--levels {
    padding: 1.197916666666667vw 3.90625vw;
    display: inline-block;
    margin-top: 1.875vw;
}
.btn--prize {
    background-color: #fff;
    border-radius: 5px;
    border: 3px solid #4ca9ff;
    color: #4ca9ff;
    font-size: 1.666666666666667vw;
    font-weight: 700;
    padding: 2.34375vw 3.125vw;
    display: inline-block;
    text-align: center;
}
.btn--slim {
    padding: 1.197916666666667vw 3.802083333333333vw;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, 0);
}
.btn--join {
    display: block;
    margin: 0 auto;
    padding: 1.302083333333333vw 7.291666666666667vw;
    margin-top: 1.5625vw;
}
.textbox {
    box-sizing: border-box;
}
.textbox--registration {
    width: 16.666666666666668vw;
    color: #000;
    font-family: "Gotham Pro";
    font-size: 1.041666666666667vw;
    font-weight: 400;
    padding: 1.302083333333333vw 1.5625vw;
    background-color: #f0f0f0;
    border: none;
    display: inline-block;
    position: relative;
}
@media (max-width: 750px) {
    .textbox--registration {
        width: 100%;
        font-size: 4.6875vw;
        padding: 5.9375vw;
        margin-bottom: 1.5625vw;
    }
}
.textbox--join {
    background-color: transparent;
    width: 21.875vw;
    color: #fff;
    padding: 1.302083333333333vw 2.604166666666667vw;
    border-radius: 1.5625vw;
    border: 2px solid #fff;
    font-size: 1.041666666666667vw;
}
.textbox--join:nth-child(1) {
    margin-right: 0.78125vw;
}
.label {
    display: block;
    margin-top: 0.78125vw;
    color: #000;
    font-family: "Gotham Pro";
    font-size: 0.753333333333333vw;
    font-weight: 400;
}
@media (max-width: 750px) {
    .label {
        display: none;
    }
}
.abs-image {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}
.abs-image--ball {
    width: 20.052083333333336vw;
    height: 20.833333333333336vw;
    background-image: url("../images/ball.png");
    bottom: 0;
    left: 0;
}
@media (max-width: 750px) {
    .abs-image--ball {
        background-image: url("../images/ball-mobile.png");
        width: 22.8125vw;
        height: 14.84375vw;
    }
    .registration__rules{
        margin-bottom:30px;
    }
}
.abs-image--apple {
    width: 21.09375vw;
    height: 18.229166666666668vw;
    background-image: url("../images/apple.png");
    bottom: 0;
    right: 0;
    -webkit-background-size: cover;
    background-size: cover;
}
@media (max-width: 750px) {
    .abs-image--apple {
        background-image: url("../images/apple-mobile.png");
        width: 22.09375vw;
        height: 60.9vw;
        top: 0;
        right: 0;
    }
}
.abs-image--ball2 {
    width: 2.447916666666667vw;
    height: 16.927083333333336vw;
    background-image: url("../images/ball2.png");
    top: 0;
    right: 0;
}
@media (max-width: 750px) {
    .abs-image--ball2 {
        display: none;
    }
}
.girls {
    padding: 7.03125vw 10.416666666666668vw 13.020833333333334vw 10.416666666666668vw;
    background-image: url("../images/girls.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.girls__logo {
    width: 8.333333333333334vw;
    height: 2.604166666666667vw;
    display: block;
    margin: 0 auto;
}
.girls__title {
    color: #fff;
    font-family: "Circe-ExtraLight";
    font-size: 4.0625vw;
    font-weight: 400;
    margin-top: 4.322916666666667vw;
    position: relative;
    display: inline-block;
}
.girls__free {
    position: absolute;
    background-color: #8a4bd7;
    color: #fff;
    font-size: 1.041666666666667vw;
    font-weight: 700;
    padding: 0.885416666666667vw 1.041666666666667vw;
    top: -3.125vw;
    right: 0;
}
.girls__text {
    color: #fff;
    font-family: Circe;
    font-size: 1.666666666666667vw;
    font-weight: 700;
    margin-top: 1.041666666666667vw;
    margin-bottom: 2.864583333333333vw;
}
.lady {
    padding-top: 4.322916666666667vw;
}
.lady:after {
    content: ' ';
    width: 100%;
    height: 5px;
    background-color: #ff8094;
    opacity: 0.14;
    display: block;
    margin-top: 4.0625vw;
}
.lady__img {
    width: 11.979166666666668vw;
    float: left;
}
.lady__img img {
    width: 100%;
}
.lady-desc {
    padding-left: 3.020833333333333vw;
    padding-top: 1.5625vw;
    display: inline-block;
    max-width: 33.333333333333336vw;
}
.lady__login {
    color: #4ca9ff;
    font-size: 2.03125vw;
    font-weight: 400;
    display: block;
}
.lady__name {
    display: block;
    color: #555f73;
    font-size: 2.5vw;
    font-weight: 300;
}
.lady__text {
    color: #555f73;
    margin-top: 1.302083333333333vw;
    font-size: 1.354166666666667vw;
    font-weight: 700;
    display: block;
}
.levels {
    padding-top: 2.916666666666667vw;
    text-align: center;
}
.levels__text {
    color: #555f73;
    font-family: Circe;
    font-size: 1.302083333333333vw;
    font-weight: 400;
}
.levels-items {
    margin-top: 3.645833333333333vw;
    padding: 0 5.208333333333334vw;
}
.levels:after {
    content: ' ';
    width: 100%;
    height: 5px;
    background-color: #ff8094;
    opacity: 0.14;
    display: block;
    margin-top: 2.34375vw;
}
.level {
    display: inline-block;
    margin: 0 2.34375vw;
    vertical-align: top;
}
.level__round {
    width: 13.020833333333334vw;
    position: relative;
}
.level__round img {
    width: 100%;
}
.level__round--locked:before {
    content: ' ';
    width: 2.864583333333333vw;
    height: 3.802083333333333vw;
    background-image: url("../images/locked.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.level__name {
    color: #555f73;
    font-size: 1.40625vw;
    font-weight: 700;
    margin-top: 2.083333333333333vw;
}
.tasks {
    margin-top: 2.083333333333333vw;
}
.tasks__title {
    color: #313131;
    font-family: "Gotham Pro";
    font-size: 1.666666666666667vw;
    font-weight: 300;
    text-align: center;
}
.tasks:after {
    content: ' ';
    width: 100%;
    height: 5px;
    background-color: #ff8094;
    opacity: 0.14;
    display: block;
    margin-top: 2.34375vw;
}
.prizes {
    padding-top: 10.416666666666668vw;
    padding-left: 7.291666666666667vw;
}
.prize {
    border-radius: 10px;
    position: relative;
    float: left;
    box-shadow: 0 2.395833333333333vw 8.489583333333334vw 9px rgba(0,0,0,0.17);
}
.prize img {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}
.prize--pants {
    width: 11.458333333333334vw;
    height: 10.677083333333334vw;
    background-color: #4ca9ff;
    z-index: 5;
}
.prize--pants img {
    width: 8.333333333333334vw;
    height: 14.583333333333334vw;
    bottom: 0;
}
.prize--shirt {
    width: 15.625vw;
    height: 13.28125vw;
    background-color: #f64271;
    z-index: 1;
}
.prize--shirt img {
    width: 10.416666666666668vw;
    height: 18.229166666666668vw;
    bottom: -2.604166666666667vw;
}
.prize--iphone {
    width: 18.75vw;
    height: 17.96875vw;
    background-color: #8a4bd7;
    z-index: 5;
}
.prize--iphone img {
    width: 11.302083333333334vw;
    height: 24.635416666666668vw;
    bottom: 2.083333333333333vw;
}
.slim {
    text-align: center;
}
.slim__title {
    margin-top: 2.34375vw;
    color: #f94372;
    font-family: "Gotham Pro";
    font-size: 1.875vw;
    font-weight: 300;
}
.slim-girl {
    position: relative;
    display: inline-block;
}
.slim-girl:before {
    content: ' ';
    width: 2.96875vw;
    height: 3.177083333333333vw;
    background-image: url("../images/arrow-right.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
}
.slim-girl:after {
    content: ' ';
    width: 2.96875vw;
    height: 3.177083333333333vw;
    background-image: url("../images/arrow-left.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
}
.join {
    padding-top: 2.708333333333333vw;
    padding-bottom: 2.135416666666667vw;
    background-color: #8a4bd7;
    text-align: center;
}
.join__text {
    color: #fff;
    font-size: 1.666666666666667vw;
    font-weight: 700;
}
.join__game {
    font-size: 2.760416666666667vw;
    color: #fff;
    font-weight: 300;
    margin-top: 1.822916666666667vw;
}
.join-form {
    margin-top: 1.5625vw;
}

#sign_up{

}

#sign_in{
    text-decoration: underline;
    cursor: pointer;
}

#sign_in_block{
    display:none;
}

.soc_items_mob{
    display: none;
}

@media (max-width: 750px){
    .social-items {
        display:none;
    }
    .soc_items_mob{
        display: block;
        margin-top:10vw;
    }
    .soc_items_mob tr td a img{
        width: 85%;
    }

    .soc_items_mob tr td{
        text-align: center;
    }

    .vk_td{
        padding:0 3vw 0 0;
    }
    .mailru_td{
        padding:0 1vw 0 3vw;
    }
    .google_td{}
}

