/*.js-slider::after{
    content: '';
    width:100%;
    height:250px;
    z-index: 100;
    position: absolute;
    left: 0;
    top:0;
}*/

/*.level--locked .level__round:after {
    content: '';
    height: 2.96875vw;
    width: 2.239583333333333vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}*/

.level--locked .level__round:after {
/*    background-image: none;*/

}

#round_1 .level__round:after{
        background-image: none;
}

