html{
    overflow:scroll !important;
}

@media (max-width: 750px) {
    .task_margin{
        margin-bottom: 1vw !important;
        margin-top: 5vw !important;
    }
    .photo_margin{
        margin-bottom: 1vw !important;
        margin-top: 4vw !important;
    }
}

.js_preview{
    display:none;
}

.old-sizes{
    display: none;
}

.alert{
    font-family: Circe;
    padding-top: 0 !important;;
    padding-bottom: 0 !important;;
    text-align: left;
}

.help-block{
    margin-top:25px;
    color: #f94372;
}

.modal-radio{
}
.img-radio{

}

.modal-radio{
    display:inline-block !important;
    position: relative;
    float: left;
}

.modal-radio input{
    margin:80px 0 0 25px;
}

.modal-radio img{
    margin-top:-20px;
}

.modal-radio2{
    display:inline-block !important;
    position: relative;
    float: left;
}

.modal-radio2 input{
    margin:100px 0 0 25px;
}

.modal-radio2 img{
    margin-bottom: 35px;
}


.form_label{
    font-family: Circe;
    font-size: 1.145833333333333vw;
    color: #555f73;
    font-weight: 400;
    line-height: 1.2;
}

.js_read{
    cursor: pointer;
}

/*
.size-remark{
    max-width:25%;
    margin:0 !important;
    padding:0 !important;
    display: inline-block;
}

.size-remark__text{
    margin:0 !important;
    padding:0 !important;
}

.old-sizes{
    display:block;
}*/

.payment__amount, .payment__submit, .field-pointform-amount {
    display: inline !important;
}

.payment-form__money .form-group {
    display: inline !important;
}

#orderform-agreement, #agreement{
    display:block;
    zoom: 1;
    display: inline !important;
}

.checkbox_block{
    margin-left:115px;
    display: block;
}

.agreement{
    margin: 10px 0 0 25px;
}

.label_agreement{
    cursor: pointer;
    font-size:17px;
    font-family: "Gotham Pro";
    color:#fff;
}

#orderform-payment_method option{
    color:#fff;
    background-color: #8a4bd7;
}

input[aria-invalid="true"]{
    background-color: #c62828;
}

.payment-form__money .help-block, .points_form .help-block{
    display: none !important;
}

.popup-content--share{
    color: #1f1f1f;
    font-family: "Gotham Pro";
    font-size: 1.875vw;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1.5625vw;
}

.title__sub{
    margin-top:0;
    padding-top:0;
}

.vbox-close {
    /*    overflow: visible !important;*/
    display:none;
    margin-right:15px;
    margin-top:15px;
}

.content-head__points, .content-head__title{
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}



.marginbottom1{
    margin-bottom: 1vw;
}

.marginbottom2{
    margin-bottom:1.2vw;
}

.margintop1{
    margin-top:1vw;
}
.margintop2{
    margin-top:1.2vw;
}

.task_block{
    margin-top:2vw;
}

.file_input input{
    cursor: pointer;
}

.add-photo{
    background-size: cover ;
}

.disnone{
    display:none;
}

.add-photo{
    cursor: pointer;
}

.hide_btn{
    display:none !important;
}

.top-user__progress{
    background: url('../images/circle.png') no-repeat center center;
    background-size: cover;
}

h2{
    color: #000;
    font-family: Circe;
    font-size: 120%;
    font-weight: 400;
    padding-bottom: 0.1vw;
}

.private-avatar__img{
    border-radius: 50%;
}

.ytp-title-text a{
    width:100%;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.level--map .level__desc{
    word-wrap: break-word !important;
    width:10vw;
    margin-top:0.7vw;
}

.level__desc{
    word-wrap: break-word !important;
    width:10vw;
    margin-top:0.7vw;
}

.tooltop_wrapper{
    position:absolute;
    right:-5vw;
    top:9vw;
    color:#555f73;
    background: #f5f2fa;
    padding:10px;
    border: 0px solid #000 !important;
}

.tooltip{
    font-family: Circe;
}

@media (min-width: 750px) {
    .tooltop_wrapper{
        display:none;
    }
    .start{
        text-align: left;
    }
}

@media (max-width: 750px) {
    .tooltop_wrapper{
        display:none;
        z-index: 444;
    }
    .start{
        text-align: center;
        margin-bottom: 30px;
    }
}

.display_none{
    display:none;
}

.start{
    margin-top:30px;
}

.popup-content__text {
    margin-top: 1.5625vw;
    margin-bottom: 2.083333333333333vw;
    color: #555f73;
    font-family: Circe;
    font-size: 1.145833333333333vw;
    font-weight: 400;
    line-height: 1.2;
}

@media (max-width: 750px){
    .popup-content__text {
        font-size: 1.145833333333333vw;
        margin-top: 4.6875vw;
        margin-bottom: 4.6875vw;
        padding: 0 4.6875vw;
    }
}

@media (min-width: 1225px){
    .vbox-close{
        position:absolute !important;
        margin-top:-40px;
        margin-right:120px !important;
    }
}

.vbox-close{
    position:absolute !important;
    right:0px !important;;
    margin-top:-40px;
}

.user_input_wrapper{
    margin-bottom:20px;
}

.add-photo, .field-photoform-file{
    text-align: center !important;
    margin: 0 auto;
}

.dogovor_link{
    color:#fff;
}


.text img{
    max-width:100%;
}

@media (max-width: 750px){
    .popup-content__text{
        font-size:4vw !important;
    }
    .popup-task__item{
        float:none !important;
        left:0;
        width:100%  !important;
        text-align: center;
    }

    .popup-content__next-task{
        font-size:4vw !important;
    }

    .menu-opened {
        overflow: hidden;
    }

    .menu__item--spec {
        padding: 7.03125vw 10.15625vw;
        padding: 7.03125vw 0;
        width: 100%;
        min-width: 80vw;
    }
    .menu__list {
        position: absolute;
        top: 2.083333333333333vw;
        left: 50%;
        transform: translate(-50%, 0);
    }

}

.aligncenter{
    text-align: center;
}

.popup__social{
    display:block;
    margin-top:0.9vw;
}

.get10{
    display:inline-block;
    margin-top:0.9vw;
}

.choose_net{
    display:inline-block;
}

@media (max-width: 750px){
    .get10{
        margin-top:2.9vw;
    }

    .social-item a img{
        width:200px !important;
    }
}

.fileinput-cancel, .kv-fileinput-caption{
    display:none !important;
}

.file-preview{
    background-size: cover;
    background-color: #7e79e6;
    margin-left:1vw;
}


@media (max-width: 750px){
    .file-preview{
        margin-left:4vw;
    }

}

.file-preview:after{
    background-size: cover;
    background: url("../images/addphoto.png") center center no-repeat;
    z-index: 100;
}




.file-drop-zone{
    cursor:pointer;
}

.file-preview {
    width: 100%;
    margin-bottom:0px;
    height: 240px;
    padding-bottom:0px;
    border:0;
}

.recipe-photo  .file-preview{
    margin-left:0vw;
    margin-right:0vw !important;
    width: 85%;
}

@media (max-width: 750px){
    .file-preview{
        width: 100vw;
    }
}

#taskanswers-text{
    padding:20px;
    height: 211px;
    margin-left: 0.5vw;
}

.file-drop-zone{
    border: none;
}

#taskanswers-foto_file{
}

.kv-file-content{

}

.file-thumbnail-footer{
    display:none;
}

@media (max-width: 750px){
    .file-preview{
        height: 60vw;
    }

    #taskanswers-text{
        max-width: 85%;
    }
}

#kvFileinputModal{
    display:none;
}

.krajee-default.file-preview-frame .kv-file-content {
   /* width:100%;*/
    height: auto;
}

img.file-preview-image.kv-preview-data {
    max-height: 14.4vw !important;
}

@media (max-width: 750px) {
    img.file-preview-image.kv-preview-data{
        max-height: 55.4vw !important;
    }
}



.krajee-default.file-preview-frame:not(.file-preview-error):hover {
     box-shadow: 0px 0px 0px 0 #333;
}

.krajee-default.file-preview-frame {
    margin: auto auto !important;
    border: none;
    box-shadow: 0px 0px 0px 0 #a2958a;
    padding: 0 0 0  0.85vw;
    float: none;
    position: relative;
    text-align: center;
}

.file-drop-zone{
    margin:0;
}

.file-footer-buttons{
    display:none;
}

.fileinput-remove-button{
    display:none;
}

.final_pay_block{
    text-align: left;
}

.js_final_offer{

}

.whatsup_col__title{
    color: #555f73;
    font-family: Circe;
    font-size: 1.354166666666667vw;
    font-weight: 700;
    margin: -1vw 0 1vw 0;
}

@media (max-width: 750px){
    .whatsup_col__title{
        color: #555f73;
        font-family: Circe;
        font-size: 4.354166666666667vw;
        font-weight: 700;
        margin-bottom:3vw;
    }

    .whatsup_col{
        margin-top:5vw;
    }

    .whatsup_col_reviews{
        margin-top:9vw;
        margin-bottom:4vw;
    }

    .whatsup{
        margin-bottom:5vw;
    }
}

.input-group-btn{
    display:none;
}

.again{
    margin-top:2vw;
}
@media (max-width: 750px) {
    .final_pay_block {
        text-align: center;
    }
}

.site-error h1{
    font-size: 3vw;
}
.site-error .alert{
    font-size: 1.5vw;
    margin: 0.5vw 0;
}
.site-error p{
    font-size: 1.5vw;
}

@media (max-width: 750px) {
    .site-error h1{
        font-size: 6vw;
    }
    .site-error .alert{
        font-size: 3.5vw;
        margin: 2vw 0;
    }
    .site-error p{
        font-size: 3.5vw;
    }
}

/*input[data-checked="disabled"]{
    background-color: #c62828 !important;
}

.checkbox i{
    background: #c62828 !important;
    color:$000;
}*/

.red_i{
    background: #c62828 !important;
}

.ava .file-preview{
    max-width: 250px;
}

.ava{
    text-align: center;
    width: 300px;
    margin: 0 auto;
}



@media (max-width: 750px) {
    .final-offer__title-text {
        margin-bottom: 1.5vw;
        font-weight: bold;
    }
    .recipe-photo .file-preview {
        width: 93%;
    }
}

.recipe-photo .kv-preview-data{
    max-width: 10vw !important;
    margin:0;
    padding:0;
}

.recipe-photo .krajee-default.file-preview-frame .kv-file-content{
    max-width: 11vw !important;
}

@media (max-width: 750px) {
    .recipe-photo .kv-preview-data{
        max-width: 50vw !important;
    }

    .recipe-photo .krajee-default.file-preview-frame .kv-file-content{
        max-width: 60vw !important;
    }
}


.file-drop-zone-title{
    margin-top:5vw;
    color:#fff;
    font-weight: bold;
    cursor:pointer;
    display:block;
    text-align: center;
    font-family: Gotham Pro;
}

@media (max-width: 750px){
    .file-drop-zone-title{
        display:block !important;
        margin-top:20vw;
        color:#fff;
        font-weight: bold;
        cursor:pointer;
        text-align: center;
    }
    .popup-content--share{
        font-size: 5vw;
    }
}

.file-drop-zone{
    background: url("../images/addphoto.png") 55% 40% no-repeat;
    z-index: 100;
}

.review_row{
    margin-top:4vw;
}

.whatsup_row{
    margin-top:2vw;
}

@media (max-width: 750px){
    .your_photo{
        margin-top:4vw;
    }
    .your_answer{
        margin-top:2vw;
    }
    .task_label{
        margin-top:4vw;
    }
    .comment__text, .comment__link{
        font-size: 4vw;
    }
    .comment__title{
        font-size: 5vw;
    }
}

.comment__item-kg{
    right:3% !important;
    top:62%;
    margin:0;
    padding:0;
    position: absolute;
}

@media (max-width: 750px){
    .comment__item-kg{
        font-size:3vw;
        width:13vw;
        height:13vw;
        line-height: 450%;
        margin-top:0vw;
        margin-left:0vw;
    }
}


.slider-comments__arrow--next {
    right: 6vw;
    margin-top: -8.5vw;
}

.slider-comments__arrow--prev {
    left: 6vw;
    margin-top: -8.5vw;
}

.all-reviews{
    margin-top:2vw;
}

.slider-comments__arrow--prev{
    z-index: 400;
}

.comment__title{
    margin-top:3vw;
}

.slider-comments__arrow--next{
    z-index: 400;
}

.final-offer__comment{
    margin:0;
}


@media (max-width: 750px){
    .final-offer__comment{
        margin:0 15vw;
    }

    .slider-comments__arrow--next {
        margin-top:35vw;
    }

    .slider-comments__arrow--prev {
        margin-top:35vw;
    }

    .NextBtn{
        margin-right:0vw;
    }

    .PrevBtn{
        margin-left:0vw;
    }

    .all-reviews{
        margin-top:7vw;
    }

    .comment__title{
        margin-top:8vw;
    }
}