.page_trainings h1 {
    margin-bottom: 27px;
    font-family: "Gotham Pro Bold", Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 12pt;
    margin: 0 0 51px;
}

.page_trainings h1:after {
    margin-top: 20px;
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    opacity: 0.14;
    margin-top: 34px;
    background: #54cfc3;
}

.page_trainings .name {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 5pt;
    line-height: 120%;
    margin: 50px 0 25px 0;
}

.profile-form {
    width: 300px;
    margin: auto;
}

.page_with_menu .form_group {
    margin-bottom: 28px;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

.img_profile {
    border: dashed lightgrey;
    border-radius: 15px;
    width: 240px;
    height: 240px
}

#cancel-upload {
    display: none;
    border: 0;
    color: #fff;
    font-size: 22px;
    margin-right: 10px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100px !important;
    height: 52px;
    float: left;
}

.page_red h1:after, .page_with_menu.page_red .form_group button[type="submit"], .page_red .btn {
    background: #54cfc3;
}

.page_with_menu .form_group button[type="submit"], .page_signup .form_group button[type="submit"] {
    /* background: #b369c3; */
    border: 0;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    width: 315px;
    height: 52px;
}

.avatar-submit > button {
    cursor: pointer;
}

.avatar-submit > button {
    font-size: 17px !important;
    background-color: #3fbbb3 !important;
    float: left;
}

.level-create .field-level-description {
    margin-top: 4vw;
}
.level-create .btn-round:first-child{}