@font-face {
    font-family: 'req';
    src: url(../fonts/GothamProRegular.eot);
    src: url(../fonts/GothamProRegular.eot) format("embedded-opentype"), url(../fonts/GothamProRegular.woff) format("woff"), url(../fonts/GothamProRegular.ttf) format("truetype")
}

@font-face {
    font-family: 'medium';
    src: url(../fonts/GothamProMedium.eot);
    src: url(../fonts/GothamProMedium.eot) format("embedded-opentype"), url(../fonts/GothamProMedium.woff) format("woff"), url(../fonts/GothamProMedium.ttf) format("truetype")
}

@font-face {
    font-family: 'black';
    src: url(../fonts/GothamProBlack.eot);
    src: url(../fonts/GothamProBlack.eot) format("embedded-opentype"), url(../fonts/GothamProBlack.woff) format("woff"), url(../fonts/GothamProBlack.ttf) format("truetype")
}

@font-face {
    font-family: 'bold';
    src: url(../fonts/GothamProBold.eot);
    src: url(../fonts/GothamProBold.eot) format("embedded-opentype"), url(../fonts/GothamProBold.woff) format("woff"), url(../fonts/GothamProBold.ttf) format("truetype")
}

html, body, h1, h2, h3, p, ul, li, button, input {
    margin: 0;
    padding: 0
}

html {
    font-family: 'req';
    background: #f1f1f1
}

a {
    color: inherit;
    text-decoration: none
}

button {
    cursor: pointer;
    border: 0
}

.input_error {
    position: absolute;
    background: #fff;
    color: red;
    font-size: 2.8vw;
    padding: 2vw;
    z-index: 9999;
    border: 1px solid red
}

.input_error svg {
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: -2vw;
    left: 5vw;
    fill: red
}

.align {
    width: 93vw;
    margin: 0 auto
}

#top_wrap {
    min-height: 110vw;
    height: calc(100vh - 10vw)
}

#error_str {
    font-size: 4vw;
    padding-bottom: 3vw
}

p {
    font-size: 16px !important;
}

h1 {
    font-size: 5.2vw;
    text-align: center;
    color: #363434;
    font-family: 'black';
    text-transform: uppercase;
    width: 54vw;
    margin: 0 auto;
    padding: 3vw 0 7vw
}

h1 span:first-child {
    letter-spacing: 1.6vw
}

h1 span:last-child {
    letter-spacing: 1.9vw
}

#sign_in_wrap {
    background: #fff;
    text-align: center
}

#sign_in_wrap form {
    padding-bottom: 7.9vw;
    width: 65vw;
    margin: 0 auto
}

.sing_input {
    padding: 0 2.7vw;
    color: #9d9d9d;
    font-size: 3.5vw;
    width: 60vw;
    display: block;
    height: 12.5vw;
    border: 1px solid #e3e3e3;
    margin: 0 auto 2.5vw
}

#sign_in_title {
    padding: 7.2vw 0 4.4vw;
    font-size: 7vw;
    color: #b369c3;
    text-transform: uppercase;
    font-family: bold;
    border-bottom: .8vw solid #b369c3;
    margin-bottom: 8.6vw
}

#form_action {
    display: flex;
    flex-direction: column-reverse;
    align-items: center
}

#form_action a {
    font-size: 3.8vw;
    color: #44a0e1;
    font-family: medium
}

#form_action button {
    background: #54cfc3;
    color: #fff;
    width: 65vw;
    height: 12.5vw;
    font-size: 4.1vw;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 6.3vw
}

#footer {
    font-size: 2.4vw;
    color: #414141;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vw
}

.fail {
    border-color: red
}

.done {
    border-color: green
}

.inputmail_wrap {
    position: relative;
    display: inline-block
}

#lb_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    opacity: 0;
    justify-content: center;
    color: #fff
}

#lb_wrap {
    position: relative;
    width: 90%;
    max-height: 70%;
    padding: 8vw 2vw;
    height: 1px;
    border-radius: 5px
}

#lb_close {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.78);
    cursor: pointer
}

#lb_close_ico {
    position: absolute;
    top: -10vw;
    right: 2vw;
    width: 6.9vw;
    fill: none;
    stroke: #fff;
    cursor: pointer;
    z-index: 900
}

#lb_wrap_scroll.scroll {
    overflow-x: hidden;
    height: 100%;
    overflow-y: scroll
}

.floatingBarsG {
    position: relative;
    width: 10vw;
    height: 12vw;
    margin: 0 auto
}

.blockG {
    position: absolute;
    background-color: transparent;
    width: 1vw;
    height: 2vw;
    border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    animation-name: fadeG;
    -o-animation-name: fadeG;
    -ms-animation-name: fadeG;
    -webkit-animation-name: fadeG;
    -moz-animation-name: fadeG;
    animation-duration: 1.04s;
    -o-animation-duration: 1.04s;
    -ms-animation-duration: 1.04s;
    -webkit-animation-duration: 1.04s;
    -moz-animation-duration: 1.04s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal
}

.rotateG_01 {
    left: 0;
    top: 4.3vw;
    animation-delay: .39s;
    -o-animation-delay: .39s;
    -ms-animation-delay: .39s;
    -webkit-animation-delay: .39s;
    -moz-animation-delay: .39s;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg)
}

.rotateG_02 {
    left: 1.3vw;
    top: 1.5vw;
    animation-delay: .52s;
    -o-animation-delay: .52s;
    -ms-animation-delay: .52s;
    -webkit-animation-delay: .52s;
    -moz-animation-delay: .52s;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg)
}

.rotateG_03 {
    left: 4vw;
    top: .4vw;
    animation-delay: .65s;
    -o-animation-delay: .65s;
    -ms-animation-delay: .65s;
    -webkit-animation-delay: .65s;
    -moz-animation-delay: .65s;
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg)
}

.rotateG_04 {
    left: 6.9vw;
    top: 1.5vw;
    animation-delay: .78s;
    -o-animation-delay: .78s;
    -ms-animation-delay: .78s;
    -webkit-animation-delay: .78s;
    -moz-animation-delay: .78s;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg)
}

.rotateG_05 {
    left: 8vw;
    top: 4.3vw;
    animation-delay: .91s;
    -o-animation-delay: .91s;
    -ms-animation-delay: .91s;
    -webkit-animation-delay: .91s;
    -moz-animation-delay: .91s;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg)
}

.rotateG_06 {
    left: 6.9vw;
    top: 7.1vw;
    animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -moz-animation-delay: 1.04s;
    transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg)
}

.rotateG_07 {
    top: 8.2vw;
    left: 4vw;
    animation-delay: 1.17s;
    -o-animation-delay: 1.17s;
    -ms-animation-delay: 1.17s;
    -webkit-animation-delay: 1.17s;
    -moz-animation-delay: 1.17s;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg)
}

.rotateG_08 {
    left: 1.3vw;
    top: 7.1vw;
    animation-delay: 1.3s;
    -o-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg)
}

@media screen and (min-width: 760px) {
    p {
        font-size: 16px !important;
    }

    #lb_wrap {
        width: 53vw;
        padding: 0;
        border-radius: 10px
    }

    #lb_close_ico {
        width: 1.6vw;
        height: 1.6vw;
        top: 0;
        right: -2vw
    }

    .floatingBarsG {
        width: 5vw;
        height: 5vw
    }

    .blockG {
        width: .3vw;
        height: 1.2vw
    }

    .rotateG_01 {
        left: 0;
        top: 2vw
    }

    .rotateG_02 {
        left: .5vw;
        top: .7vw
    }

    .rotateG_03 {
        left: 1.8vw;
        top: .2vw
    }

    .rotateG_04 {
        left: 3.1vw;
        top: .7vw
    }

    .rotateG_05 {
        left: 3.6vw;
        top: 2vw
    }

    .rotateG_06 {
        left: 3.1vw;
        top: 3.3vw
    }

    .rotateG_07 {
        top: 3.8vw;
        left: 1.8vw
    }

    .rotateG_08 {
        left: .6vw;
        top: 3.3vw
    }

    .input_error {
        font-size: 18px;
        padding: 10px
    }

    .input_error svg {
        width: 10px;
        height: 10px;
        top: -10px;
        left: 40px
    }

    #error_str {
        font-size: 18px;
        padding: 0 20px 20px
    }

    #top_wrap {
        text-align: center;
        height: calc(100vh - 60px);
        min-height: 500px
    }

    h1 {
        font-size: 23px;
        width: auto;
        display: inline-block;
        margin: 0 auto;
        padding: 38px 0 18px;
        border-bottom: 4px solid #d7d7d7
    }

    h1 span:first-child {
        letter-spacing: 10px
    }

    h1 span:last-child {
        letter-spacing: 10px
    }

    .align {
        width: 750px
    }

    #sign_in_wrap form {
        width: 100%;
        padding-bottom: 68px
    }

    #sign_in_wrap form input {
        font-size: 18px;
        padding: 0 20px;
        width: 270px;
        height: 50px;
        margin-bottom: 12px
    }

    #sign_in_title {
        font-size: 35px;
        padding: 44px 0 27px;
        border-bottom: 4px solid rgba(179, 105, 195, 0.14);
        margin-bottom: 31px
    }

    #form_action {
        flex-direction: row;
        width: 312px;
        margin: 0 auto;
        justify-content: space-between;
        padding-top: 5px
    }

    #form_action a {
        font-size: 15px
    }

    #form_action button {
        font-size: 16px;
        width: 160px;
        height: 46px;
        margin: 0
    }

    #footer {
        font-size: 15px;
        height: 60px
    }

    #form_action button.recovery {
        width: 100%
    }
}

::-webkit-input-placeholder {
    color: #9d9d9d
}

::-moz-placeholder {
    color: #9d9d9d
}

:-moz-placeholder {
    color: #9d9d9d
}

:-ms-input-placeholder {
    color: #9d9d9d
}

:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent
}

:focus:-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}

@keyframes fadeG {
    0% {
        background-color: #fff
    }
    100% {
        background-color: transparent
    }
}

.error {
    color: red
}

.has-error input[type="text"] {
    border-color: red
}

.logo {
    position: static;
    margin: 0 auto 0;
    background: url(/images/mobile_logo3.png) center -18px no-repeat;
    width: 140px;
    height: 72px;
}

.logo {
    display: block;
    background: url(/images/mobile_logo3.png) center top no-repeat;
    width: 140px;
    height: 72px;
}