#clockdiv{
    font-family: sans-serif;
    color: #000;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv .smalltext{

}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: url("../images/digit_bg.png") no-repeat;
    background-position: 2px -5px;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.timer{
    margin:15px 0 0 0;
}